@model Yintai.Hangzhou.Cms.WebSiteV1.Models.CustomerCollectionViewModel
@{
    ViewBag.Title = "用户列表";
 CustomerListSearchOption search = ViewBag.SearchOptions;
 HtmlHelper<CustomerListSearchOption> searchModelHelper = Html.HtmlHelperFor<CustomerListSearchOption>();

}

@section PageJsSection {
    <script>
        $(function () {
            $("a[id^='delete']").click(function (event) {
                event.preventDefault();
                var self = $(this);
                var itemId = $(this).attr("data-rightId");
                $("#delete-dialog").dialog({
                    resizable: false,
                    height: 140,
                    modal: true,
                    buttons: {
                        "删除": function () {
                            $(this).dialog("close");
                            $.ajax({
                                type: "POST",
                                url: "@(Url.Action("Delete"))",
                                data: {
                                    id: itemId
                                },
                                success: function (data) {
                                    if (data["Success"] == true) {
                                        self.parents("tr:first").remove();
                                    }
                                    else {
                                        alert('删除失败！');
                                    }
                                },
                                error: function (data, textStatus, jqXHR) {
                                    alert('删除失败！');
                                }

                            });
                        },
                        "取消": function () {
                            $(this).dialog("close");
                        }
                    }

                });
            });
        });
    </script>
}

@section PageBread
{
    <ul class="breadcrumb">
        <li>@Html.ActionLink2("用户管理", "Index")<span class="divider">/</span></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
}
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("List", "Customer", new { page = 0 }, FormMethod.Get, new { @class = "form-horizontal searchForm-border small-labels" }))
{
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="span4">
            <div class="control-group">
                <label class="control-label" for="Name">@searchModelHelper.LabelFor(m => search.PId)</label>
                <div class="controls">
                    @searchModelHelper.EditorFor(m => search.PId)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Name">@searchModelHelper.LabelFor(m => search.Name)</label>
                <div class="controls">
                    @searchModelHelper.EditorFor(m => search.Name)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Name">@searchModelHelper.LabelFor(m => search.OrderBy)</label>
                <div class="controls">
                    @searchModelHelper.DropDownListFor(m => search.OrderBy, EnumHelper.DisplayList<Yintai.Hangzhou.Model.Filters.GenericOrder>())
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    <button type="submit" class="btn">查询</button>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="control-group">
                <label class="control-label" for="Name">@searchModelHelper.LabelFor(m => search.Mobile)</label>
                <div class="controls">
                    @searchModelHelper.EditorFor(m => search.Mobile)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Name">@searchModelHelper.LabelFor(m => search.Email)</label>
                <div class="controls">
                    @searchModelHelper.EditorFor(m => search.Email)
                </div>
            </div>
            
        </div>

    </div>
}
<table>
    <tr>
        <th>图片</th>
        <th>操作</th>
        <th>用户代码
        </th>
        <th>用户名
        </th>
        <th>昵称
        </th>

        <th>手机
        </th>
        <th>邮箱
        </th>
        <th>等级
        </th>
        <th>描述
        </th>
        <th>性别
        </th>
        <th>我关注数
        </th>
        <th>被关注数
        </th>
        <th>收藏数
        </th>
        <th>优惠码数
        </th>
        <th>积点
        </th>
        <th>创建时间
        </th>
        <th>更新时间
        </th>
    </tr>

    @foreach (var item in Model.Customers)
    {
        <tr>
             <td>
                @if (!String.IsNullOrWhiteSpace(item.Logo))
                {
                    <img width="50" src="@String.Concat(item.Logo, "_50x50.jpg")" alt="50X50" />
                }


            </td>
            <td>
              <div class="btn-group">
                    <button class="btn btn-small">操作</button>
                    <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink2("编辑", "Edit", new { id = item.Id })</li>
                        <li>@Html.ActionLink2("详情", "Details", new { id = item.Id }) </li>
                        <li><a href="#" data-rightId="@item.Id" class="btn btn-danger" id="delete@(item.Id)">删除</a></li>
                    </ul>

                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nickname)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMail)
            </td>
            <td>
                @Html.Label("", ((Yintai.Hangzhou.Model.Enums.UserLevel)item.UserLevel).ToFriendlyString())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.Label("", ((Yintai.Hangzhou.Model.Enums.GenderType)item.Gender).ToFriendlyString())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ILikeCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LikeMeCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FavorCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CouponCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>

           
        </tr>
    }

</table>
@Html.Partial("PagerPartialView", Model)
<div class="hide" id="delete-dialog" title="删除用户">
    <p>您确认要删除该条用户吗？</p>
</div>
