@model Yintai.Hangzhou.Cms.WebSiteCoreV1.Models.PointViewModel

@{
    ViewBag.Title = "积分详情";
}
@section PageBread
{
    <ul class="breadcrumb">
        <li>@Html.ActionLink2("用户管理", "Index","Customer")<span class="divider">/</span></li>
        <li>@Html.ActionLink2("积分列表", "List")<span class="divider">/</span></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
}
<h2>@ViewBag.Title</h2>

<fieldset>
   <div class="display-label">@Html.LabelFor(m=>m.User_Id)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User_Id)
    </div>

    <div class="display-label">@Html.LabelFor(m=>m.Amount)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Amount)
    </div>

    <div class="display-label">@Html.LabelFor(m=>m.Type)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>

    <div class="display-label">@Html.LabelFor(m=>m.Name)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">@Html.LabelFor(m=>m.Description)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">@Html.LabelFor(m=>m.PointSourceId)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PointSourceId)
    </div>

    <div class="display-label">@Html.LabelFor(m=>m.PointSourceType)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PointSourceType)
    </div>

    <div class="display-label">@Html.LabelFor(m=>m.Status)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">@Html.LabelFor(m=>m.CreatedUser)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedUser)
    </div>

    <div class="display-label">@Html.LabelFor(m=>m.CreatedDate)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedDate)
    </div>

</fieldset>
<p>
    @Html.ActionLink2("返回列表", "List", null, new { @class = "btn" })
</p>

