@using Yintai.Hangzhou.Model.Enums
@using Yintai.Hangzhou.WebSupport.Helper
@model Yintai.Hangzhou.Cms.WebSiteCoreV1.Models.PromotionViewModel
@{
    ViewBag.Title = "创建促销";
}
@section PageBread
{
    <ul class="breadcrumb">
        <li>@Html.ActionLink2("促销管理", "Index")<span class="divider">/</span></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "Promotion", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextArea("description", Model == null ? String.Empty : Model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartDate)
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndDate)
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Store_Id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Store_Id)
            @Html.ValidationMessageFor(model => model.Store_Id)
        </div>

        <div class="editor-label-flow">  

            <span >是否置顶：</span>     
            @Html.EditorFor(model=>model.IsTop)
            @Html.ValidationMessageFor(model => model.IsTop)
        </div>


        <div class="editor-label-flow">
            <span >是否绑定商品：</span>     
            @Html.CheckBox("IsProdBindable",Model==null?false:Model.IsProdBindable)
            @Html.ValidationMessageFor(model => model.IsProdBindable)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PublicationLimit)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PublicationLimit)
            @Html.ValidationMessageFor(model => model.PublicationLimit)
        </div>
        <div class="editor-label-required">
            选择促销图片
        </div>
        <div class="editor-field">
            <ul>
                <li>
            <input type="file" id="file1" name="file1" /></li>
             <li><input type="file" id="file2" name="file2" /></li>
             <li><input type="file" id="file3" name="file3" /></li>
                </ul>
        </div>
        <p>
             <input type="submit" value="创建" class="btn btn-primary" />
             @Html.ActionLink2("返回列表", "List", null, new { @class="btn"})
        </p>
}

