@using Yintai.Hangzhou.Model.Enums
@using Yintai.Hangzhou.WebSupport.Helper
@model Yintai.Hangzhou.Cms.WebSiteCoreV1.Models.PromotionCollectionViewModel
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var url = String.IsNullOrWhiteSpace(Model.UL) ? String.Format("{0}/{1}", ViewContext.RouteData.Values["controller"].ToString().ToLower(), "list") : Model.UL.ToLower();

    int sort;
    Int32.TryParse(Request.QueryString["sort"], out sort);
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div>
    <form action="/@url" method="GET">
        <div class="span4">
            <label for="name">活动名称</label>
            <input name="name" type="text" />
        </div>
        <div class="span4">
            <label for="recommenduser">推荐人</label>
            <input name="recommenduser" type="text" />
        </div>
        <div class="span4">
            <label for="tagid">tagId</label>
            <input name="tagid" type="text" />
        </div>
        <div class="span4">
            <label for="sort">排序方式</label>
            @Html.DropDownList("sort", PromotionSortOrder.CreatedDateDesc.ToSelectList(sort < 1 ? (int)PromotionSortOrder.CreatedDateDesc : sort))
        </div>

        <input type="submit" value="查询" />
    </form>
</div>
<table>
    <tr>
        <th>图片</th>
        <th>操作</th>
        <th>Id</th>
        <th>Name
        </th>
        <th>Description
        </th>
        <th>StartDate
        </th>
        <th>EndDate
        </th>
        <th>RecommendSourceId
        </th>
        <th>RecommendSourceType
        </th>
        <th>RecommendUser
        </th>
        <th>LikeCount
        </th>
        <th>FavoriteCount
        </th>
        <th>ShareCount
        </th>
        <th>InvolvedCount
        </th>
        <th>Store_Id
        </th>
        <th>IsTop
        </th>
        <th>是否有商品
        </th>
        <th>发行量
        </th>
        <th>Status
        </th>
        <th>CreatedUser
        </th>
        <th>CreatedDate
        </th>
        <th>UpdatedDate
        </th>
        <th>UpdatedUser
        </th>

    </tr>

    @foreach (var item in Model.Promotions)
    {
        <tr>
            <td>
                @if (item.Resources != null && item.Resources.Count > 0)
                {
                    <div class="img-thumnail">
                   @foreach (var re in item.Resources)
                    {
                        if (re.Type == (int)Yintai.Architecture.Common.Models.ResourceType.Image)
                        {
                    <img src="@String.Concat(re.Domain, re.Name, "_120x0.jpg")" alt="120X0" />
                        }
                    }
                   </div>
                }


            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                @Html.ActionLink("ViewImage", "List", "Resource", new { sourceType = (int)SourceType.Promotion, sourceid = item.Id }, null)
            </td>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecommendSourceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecommendSourceType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecommendUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LikeCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FavoriteCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShareCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvolvedCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsTop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsProdBindable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedUser)
            </td>

        </tr>
    }

</table>
@Html.Partial("PagerPartialView", Model)

@section HeaderStyles
{
    <link href="@Url.Content("~/content/themes/webget/easyui/default/easyui.css")"  rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/themes/webget/easyui/icon.css")" rel="stylesheet" type="text/css" />
}

@section HeaderScripts
{
    <script src="@Url.Content("~/Scripts/widget/jquery.easyui.min.js")" type="text/javascript"></script>
}