@using Yintai.Hangzhou.Model.Enums
@using Yintai.Hangzhou.WebSupport.Helper
@model Yintai.Hangzhou.Cms.WebSiteV1.Models.SpecialTopicViewModel
@{
    ViewBag.Title = "编辑专题";
    ViewData["ProductSelectorContainer"] = "TargetValue";
    ViewData["PromotionSelectorContainer"] = "TargetValue";
}
@section PageJsSection {
    <script>
        $(function () {
            $("#Type").change(function () {
                $("#TargetValue").val('');
                initTypeChoice();
            });
            initTypeChoice();
        });

        function initTypeChoice() {
            var type = $("#Type").val();
            var container = $("#target_container");
            var targetValue = $("#TargetValue");
            var targetValueTrig = $("#pro_selector_trigger");

            container.show();
            if (type == 0 || type==1 || type==4||type==6) {
                container.hide();

            } else if (type == 2) {
                targetValueTrig.attr('data-target', '#prom_selector').show();
                targetValue.attr("readonly", true).show();

            } else if (type == 3) {
                targetValueTrig.attr('data-target', '#pro_selector').show();
                targetValue.attr("readonly", true).show();
            } else if (type==5) {
                targetValueTrig.hide();
                targetValue.removeAttr("readonly").show();

            }
            else {
               container.hide();
            }
        }
    </script>
}
<h2>@ViewBag.Title</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("Edit", "SpecialTopic", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextArea("description", Model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Status, EnumHelper.DisplayList<DataStatus>())
            @Html.ValidationMessageFor(model => model.Status)
        </div>
     <div class="editor-label">
            @Html.LabelFor(model => model.Type)
        </div>
        <div class="editor-field">
             @Html.DropDownListFor(model => model.Type, EnumHelper.DisplayList<SpecialTopicType>())
            @Html.ValidationMessageFor(model => model.Type)
        </div>
        <div id="target_container">
        <div class="editor-label">
            @Html.LabelFor(model => model.TargetValue)
        </div>
        <div class="editor-field">
            <div class="input-append">
                @Html.TextBoxFor(model => model.TargetValue, new { @readonly = true })
                <button type="button" class="btn" data-toggle="modal" data-target="#pro_selector" id="pro_selector_trigger">选择</button>
            </div>
        </div>
            </div>
        <div class="editor-label">
            <span>专题图片</span>
         </div>
        <div class="editor-field">
            @if (this.Model.Resources != null && Model.Resources.Count > 0)
            {
                var re = Model.Resources[0];
                <table>
                        <tr>
                            <td>
                                @if (re.Type == (int)Yintai.Architecture.Common.Models.ResourceType.Image)
                                {
                        
                                    <img width="120" src="@String.Concat(re.Domain, re.Name, "_630x0.jpg")" alt="630x0" />
                                }
                            </td>
                            <td><label>替换为 =&gt;</label></td>
                            <td >
                                <input type="file" name="files_@(re.Id)" />
                            </td>  
                         </tr>

                </table>
            }
            else
            {
             <input type="file" id="files" name="files" />
            }
        </div>
        <p>
            <input type="submit" value="保存" class="btn btn-primary" />
            @Html.ActionLink2("返回列表", "Index", null, new { @class = "btn" })
        </p>
}
@Html.Partial("_ProductSelector",ViewData)
@Html.Partial("_PromotionSelector",ViewData)