@model Yintai.Hangzhou.Cms.WebSiteCoreV1.Models.BrandCollectionViewModel
@{
    ViewBag.Title = "品牌列表";
    BrandListSearchOption search = ViewBag.SearchOptions;
    HtmlHelper<BrandListSearchOption> searchModelHelper = Html.HtmlHelperFor<BrandListSearchOption>();

}

@section PageJsSection {
    <script>
        $(function () {
            $("a[id^='delete']").click(function (event) {
                event.preventDefault();
                var self = $(this);
                var itemId = $(this).attr("data-rightId");
                $("#delete-dialog").dialog({
                    resizable: false,
                    height: 140,
                    modal: true,
                    buttons: {
                        "删除": function () {
                            $(this).dialog("close");
                            $.ajax({
                                type: "POST",
                                url: "@(Url.Action("Delete"))",
                                data: {
                                    id: itemId
                                },
                                success: function (data) {
                                    if (data["Success"] == true) {
                                        self.parents("tr:first").remove();
                                    }
                                    else {
                                        alert('删除失败！');
                                    }
                                },
                                error: function (data, textStatus, jqXHR) {
                                    alert('删除失败！');
                                }

                            });
                        },
                        "取消": function () {
                            $(this).dialog("close");
                        }
                    }

                });
            });
        });
    </script>
}

@section PageBread
{
    <ul class="breadcrumb">
        <li>@Html.ActionLink2("配置管理", "Index","Configuration")<span class="divider">/</span></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
}

<h2>@ViewBag.Title</h2>
<p>
@Html.ActionLink2("新建", "Create", null, new { @class="btn btn-primary"})
    </p>

@using (Html.BeginForm("List", null, FormMethod.Get, new { @class = "form-horizontal searchForm-border" }))
{
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="span4">
                        <div class="control-group">
                <label class="control-label" for="Name">品牌代码</label>
                <div class="controls">
                    @searchModelHelper.EditorFor(m => search.PId)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Name">活动名称</label>
                <div class="controls">
                    @searchModelHelper.EditorFor(m => search.Name)
                </div>
            </div>
           
            <div class="control-group">
                <div class="control-label">
                    <button type="submit" class="btn">查询</button>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="control-group">
                <label class="control-label" for="Name">排序</label>
                <div class="controls">
                    @searchModelHelper.DropDownListFor(m => search.OrderBy, EnumHelper.DisplayList<Yintai.Hangzhou.Model.Filters.GenericOrder>())
                </div>
            </div>
        </div>
        
    </div>
}
<table>
    <tr>
        <th>操作</th>
        <th>品牌代码</th>

        <th>名称
        </th>
        <th>英文名
        </th>
        <th>描述
        </th>
        <th>索引字母
        </th>
        <th>创建时间
        </th>
        <th>更新时间
        </th>
        <th>网站地址
        </th>
    </tr>

    @foreach (var item in Model.Brands)
    {
        <tr>
            <td>
              <div class="btn-group">
                    <button class="btn btn-small">操作</button>
                    <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink2("编辑", "Edit", new { id = item.Id })</li>
                        <li>@Html.ActionLink2("详情", "Details", new { id = item.Id }) </li>
                        <li><a href="#" data-rightId="@item.Id" class="btn btn-danger" id="delete@(item.Id)">删除</a></li>
                    </ul>

                </div>
            </td>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnglishName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.WebSite)
            </td>
        </tr>
    }

</table>
@Html.Partial("PagerPartialView", this.Model)
<div class="hide" id="delete-dialog" title="删除品牌">
    <p>您确认要删除该条品牌吗？</p>
</div>
