@model Pager<ProductPropertyViewModel>
@{
    ViewBag.Title = "商品属性列表";
    ProductPropertyValueSearchOption search = ViewBag.SearchOptions;
    HtmlHelper<ProductPropertyValueSearchOption> searchModelHelper = Html.HtmlHelperFor<ProductPropertyValueSearchOption>();

}
@section PageJsSection {
    <script>
        $(function () {
            $("a[id^='delete']").click(function (event) {
                event.preventDefault();
                var self = $(this);
                var itemId = $(this).attr("data-rightId");
                $("#delete-dialog").dialog({
                    resizable: false,
                    height: 140,
                    modal: true,
                    buttons: {
                        "删除": function () {
                            $(this).dialog("close");
                            $.ajax({
                                type: "POST",
                                url: "@(Url.Action("Delete"))",
                                data: {
                                    id: itemId
                                },
                                success: function (data) {
                                    if (data["Success"] == true) {
                                        self.parents("tr:first").remove();
                                    }
                                    else {
                                        alert('删除失败！');
                                    }
                                },
                                error: function (data, textStatus, jqXHR) {
                                    alert('删除失败！');
                                }

                            });
                        },
                        "取消": function () {
                            $(this).dialog("close");
                        }
                    }

                });
            });
        });
    </script>
}
@section PageBread
{
    <ul class="breadcrumb">
        <li>@Html.ActionLink2("商品管理", "Index","Product")<span class="divider">/</span></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
}
<h2>@ViewBag.Title</h2>
    <p>
@Html.ActionLink2("新建", "Create", null, new {page=0 }, new { @class="btn btn-primary"})
    </p>
@using (Html.BeginForm("List", null, new { page = 0 }, FormMethod.Get, new { @class = "form-horizontal searchForm-border small-labels" }))
{
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="span3">
            <div class="control-group">
                <label class="control-label" for="Name">@searchModelHelper.LabelFor(m => search.ProductId)</label>
                <div class="controls">
                    @searchModelHelper.TextBoxFor(m => search.ProductId, new { @class = "span2" })
                </div>
            </div>
            
        </div>
         <div class="span3">
            <div class="control-group">
                <label class="control-label" for="Name">@searchModelHelper.LabelFor(m => search.PropertyDesc)</label>
                <div class="controls">
                    @searchModelHelper.TextBoxFor(m => search.PropertyDesc, new { @class = "span2" })
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="control-group">
                <label class="control-label" for="Name">@searchModelHelper.LabelFor(m => search.ValueDesc)</label>
                <div class="controls">
                    @searchModelHelper.TextBoxFor(m => search.ValueDesc, new { @class="span2"})
                </div>
            </div>

        </div>
      
        <div class="span3">
            <div class="control-group">
                <div class="control-label">
                    <button type="submit" class="btn">查询</button>
                </div>
            </div>

        </div>       
    </div>
}
<table>
    <tr>
        <th>属性代码</th>
        <th>操作</th>
        <th>商品代码
        </th>
        <th>商品名</th>
        <th>属性名
        </th>
        <th>属性值
        </th>
        <th>排序值
        </th>
 
    </tr>

    @foreach (var item in Model.Data)
    {
        foreach(var pvalue in item.Values)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => pvalue.ValueId)</td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-small">操作</button>
                    <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink2("编辑", "Edit", new { id = item.ProductId })</li>
                        <li><a href="#" data-rightId="@pvalue.ValueId" class="btn btn-danger" id="delete@(pvalue.ValueId)">删除</a></li>
                    </ul>

                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => pvalue.PropertyDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => pvalue.ValueDesc)
            </td>

            <td>
                @Html.DisplayFor(modelItem => pvalue.SortOrder)
            </td>
            
        </tr>
    }
    }

</table>
@Html.Partial("PagerPartialView", this.Model)
<div class="hide" id="delete-dialog" title="删除属性">
    <p>您确认要删除该条属性吗？</p>
</div>