@model Yintai.Hangzhou.Cms.WebSiteV1.Models.RoleViewModel
@{
    ViewBag.Title = "编辑角色";
   
}

@section PageJsSection {
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.Partial("_UpdateResultPartial")
    <div class="span12">
        <legend>@ViewBag.Title</legend>
    </div>

    <div class="span4">
        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="span8">
        @Html.LabelFor(model => model.Val)
        @Html.EditorFor(model => model.Val)
        @Html.ValidationMessageFor(model => model.Val)
    </div> 
    <div class="accordion span12" id="accordion-rights">
        <div class="accordion-group">
            <div class="accordiong-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-rights" href="#collapseone">编辑权限
                </a>
            </div>
            <div id="collapseone" class="accordion-body collapse">
                <div class="accordion-inner">
                        @foreach (Yintai.Hangzhou.Data.Models.AdminAccessRightEntity right in ViewBag.Rights)
                        {
                            bool hasRight = Model.RoleRightDisplay.FirstOrDefault(e => int.Parse(e) == right.Id) != null;
                        <div class="span3">
                            <label>
                               <input type="checkbox" name="RoleRightDisplay" value="@right.Id" @Html.Raw(hasRight?"checked":"") /><span> @string.Format("{0}\\{1}", right.ControllName, right.ActionName)</span>
                            </label>
                        </div>
                       

                    }
                </div>
            </div>
        </div>

    </div>
    <div class="span8 form-action">
        @Html.HiddenFor(model => model.Id)
        <button class="btn btn-success">保存</button>
        @Html.ActionLink2("返回", "List", null, new { @class = "btn btn-primary" })
    </div>
}
