@model Yintai.Hangzhou.Cms.WebSiteCoreV1.Models.BannerViewModel
@{
    ViewBag.Title = "广告详情";
}
@section PageBread
{
    <ul class="breadcrumb">
        <li>@Html.ActionLink2("促销管理", "Index", "Promotion")<span class="divider">/</span></li>
        <li>@Html.ActionLink2("广告列表", "Index")<span class="divider">/</span></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
}
<h2>@ViewBag.Title</h2>
<fieldset>
    <div class="display-label">@Html.LabelFor(model => model.Id)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.SourceId)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SourceId)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.SourceType)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SourceType)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.Promotion.Name)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Promotion.Name)
    </div>
    <div class="display-label">@Html.LabelFor(model => model.Promotion.Id)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Promotion.Id)
    </div>
    <div class="display-label">@Html.LabelFor(model => model.SortOrder)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SortOrder)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.Status)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">图片</div>
    <div class="display-field">
        @if (this.Model.Resource != null)
        {
            var re = Model.Resource;
            if (re.Type == (int)Yintai.Architecture.Common.Models.ResourceType.Image)
            {
                        
            <img width="60" src="@String.Concat(re.Domain, re.Name, "_320x44.jpg")" alt="120x0" />
            }

        }
    </div>
</fieldset>
<p>
    @Html.ActionLink2("编辑", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink2("返回列表", "List", null, new { @class = "btn" })
</p>
