@using Yintai.Hangzhou.Model.Enums
@using Yintai.Hangzhou.Cms.WebSiteV1.Util
@using Yintai.Hangzhou.WebSupport.Helper
@using Yintai.Hangzhou.Model.Filters
@model Pager<CouponCodeUsageViewModel>
@{
    ViewBag.Title = "代金券流水查询";
    CouponUsageOption search = ViewBag.SearchOptions ?? new CouponUsageOption();
    bool showDownload = Model != null && Model.Data.Count() > 0;
   
}

@section PageBread
{
    <ul class="breadcrumb">
        <li>@Html.ActionLink2("统计报表", "Index","Report")<span class="divider">/</span></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
}
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Search", "CouponCodeReport", FormMethod.Post, new { @class = "form-horizontal searchForm-border small-labels" }))
{
    @Html.ValidationSummary(false)
    <div class="row">
        <div class="span2">
            <div class="control-group">
                <label class="control-label" for="Name">@Html.LabelFor(m => search.PromotionId)</label>
                <div class="controls">
                    @Html.TextBoxFor(m => search.PromotionId, new { @class = "span1" })
                </div>
            </div>
           
        </div>
        <div class="span3">
            <div class="control-group">
                <label class="control-label" for="Name">@Html.LabelFor(m => search.CreateDateFrom)</label>
                <div class="controls">
                    @Html.EditorFor(m => search.CreateDateFrom, new { @class = "span2" })
                </div>
            </div>
            

        </div>
                <div class="span3">
            <div class="control-group">
                <label class="control-label" for="Name">@Html.LabelFor(m => search.CreateDateTo)</label>
                <div class="controls">
                    @Html.EditorFor(m => search.CreateDateTo, new { @class = "span2" })
                </div>
            </div>
            

        </div>
        <div class="span3">
              <div class="control-group">
                <label class="control-label" for="Name">@Html.LabelFor(m => search.Status)</label>
                <div class="controls">
                    @Html.DropDownListFor(m => search.Status, EnumHelper.DisplayList<CouponStatus>(), new { @class = "span2" })
                </div>
            </div>
        </div>
       
        <div class="span2">
            
             <div class="control-group">
                <div class="control-label">
                    <button type="submit" class="btn">查询</button>
                    @if (showDownload)
                    { 
                        @Html.ActionLink("准备下载","Download", "CouponCodeReport", new { reportname = "couponcodeusagereport",option=search.ToJson() }, new { @class= "btn", target = "window" })
                    }
                </div>
            </div>
        </div>

    </div>
    
}
<table>
    <tr>
        <th>活动名称</th>
        <th>活动时间</th>
        <th>领券时间</th>
        <th>用户昵称</th>
        <th>用户手机
        </th>
         <th>券状态
        </th>
        <th>券门店
        </th>
        <th>小票号
        </th>
        <th>优惠码
        </th>   
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model.Data)
        {
        <tr>

            <td>@Html.DisplayFor(modelItem => item.PromotionName)</td>
            <td>
                @Html.DisplayFor(modelItem => item.PromotionDate)
            </td>
            <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
          <td>@Html.DisplayFor(modelItem => item.CustomerNick)</td>
            <td>@Html.DisplayFor(modelItem => item.CustomerPhone)</td>
            <td> @Html.Label("", ((CouponStatus)item.Status).ToFriendlyString())</td>
            <td>@Html.DisplayFor(modelItem => item.StoreName)</td>
            <td>@Html.DisplayFor(modelItem => item.ReceiptNo)</td>
             <td>@Html.DisplayFor(modelItem => item.Code)</td>
        </tr>
        }
    }

</table>

