@{
    ViewBag.Title = "配置管理";
}

<div class="span3">
    <h2>品牌管理</h2>
    <p>维护品牌信息.</p>
    <p>@Html.ActionLink2("进入","Index","Brand",null,new {@class = "btn"})</p>
</div>
<div class="span3">
    <h2>分类管理</h2>
    <p>维护分类信息.</p>
    <p>@Html.ActionLink2("进入","Index","Tag",null,new {@class = "btn"})</p>
</div>

<div class="span3">
    <h2>实体店管理</h2>
    <p>维护实体店信息.</p>
    <p>@Html.ActionLink2("进入","Index","Store",null,new {@class = "btn"})</p>
</div>
<div class="span3">
    <h2>资源管理</h2>
    <p>维护资源信息.</p>
    <p>@Html.ActionLink2("进入","Index","Resource",null,new {@class = "btn"})</p>
</div>
<div class="span3">
    <h2>权限管理</h2>
    <p>维护权限信息.</p>
    <p>@Html.ActionLink2("进入","Index","Role",null,new {@class = "btn"})</p>
</div>