@using Yintai.Hangzhou.Model.Enums
@using Yintai.Hangzhou.WebSupport.Helper
@using Yintai.Hangzhou.Model.Filters
@model BannerCollectionViewModel
@{
    ViewBag.Title = "广告列表";
    BannerSearchOption search = ViewBag.SearchOptions;
    HtmlHelper<BannerSearchOption> searchModelHelper = Html.HtmlHelperFor<BannerSearchOption>();

}
@section PageBread
{
    <ul class="breadcrumb">
        <li>@Html.ActionLink2("促销管理", "Index","Promotion")<span class="divider">/</span></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
}

@section PageJsSection {
    <script>
        $(function () {
            $("a[id^='delete']").click(function (event) {
                event.preventDefault();
                var self = $(this);
                var itemId = $(this).attr("data-rightId");
                $("#delete-dialog").dialog({
                    resizable: false,
                    height: 140,
                    modal: true,
                    buttons: {
                        "删除": function () {
                            $(this).dialog("close");
                            $.ajax({
                                type: "POST",
                                url: "@(Url.Action("Delete"))",
                                data: {
                                    id: itemId
                                },
                                success: function (data) {
                                    if (data["Success"] == true) {
                                        self.parents("tr:first").remove();
                                    }
                                    else {
                                        alert('删除失败！');
                                    }
                                },
                                error: function (data, textStatus, jqXHR) {
                                    alert('删除失败！');
                                }

                            });
                        },
                        "取消": function () {
                            $(this).dialog("close");
                        }
                    }

                });
            });
        });
    </script>
}

<h2>@ViewBag.Title</h2>
<p>
@Html.ActionLink2("新建", "Create", null, new { @class="btn btn-primary"})
    </p>
@using (Html.BeginForm("List", null, FormMethod.Get, new { @class = "form-horizontal searchForm-border" }))
{
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="span4">
                        <div class="control-group">
                <label class="control-label" for="Name">促销代码</label>
                <div class="controls">
                    @searchModelHelper.EditorFor(m => search.PromotionId)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Name">状态</label>
                <div class="controls">
                    @searchModelHelper.DropDownListFor(m => search.Status, EnumHelper.DisplayList<DataStatus>())
                </div>
            </div>
          
            <div class="control-group">
                <div class="control-label">
                    <button type="submit" class="btn">查询</button>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="control-group">
                <label class="control-label" for="Name">排序</label>
                <div class="controls">
                    @searchModelHelper.DropDownListFor(m => search.OrderBy, EnumHelper.DisplayList<GenericOrder>())
                </div>
            </div>
        </div>
        
    </div>
}

<table>
    <tr>
        <th>图片</th>
        <th>操作</th>
        <th>广告编码</th>
        <th>促销编码</th>
        <th>促销名
        </th>
        <th>排序值</th>
        <th>状态
        </th>

    </tr>

    @foreach (var item in Model.Banners)
    {
        <tr>
            <td>
                @if (item.Resource != null)
                {
                    <div>
                            @if (item.Resource.Type == (int)Yintai.Architecture.Common.Models.ResourceType.Image)
                            {
                            <a href="@Url.Action("Details", "Resource", new { id = item.Resource.Id })">
                                <img width="60" src="@String.Concat(item.Resource.Domain, item.Resource.Name, "_320x44.jpg")" alt="120X0" />
                            </a>
                            }
                    </div>
                }

            </td>
            <td>
                <div class="btn-group">
                <button class="btn btn-small">操作</button>
                    <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink2("编辑", "Edit", new { id = item.Id })</li>
                        <li>@Html.ActionLink2("详情", "Details", new { id = item.Id }) </li>
                        <li><a href="#" data-rightId="@item.Id" class="btn btn-danger" id="delete@(item.Id)">删除</a></li>
                        
                    </ul>
                </div>
            </td>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>
                @Html.DisplayFor(modelItem => item.Promotion.Id)
            </td>
                        <td>
                @Html.DisplayFor(modelItem => item.Promotion.Name)
            </td>
            <td>
                @Html.DisplayFor(m=>item.SortOrder)
            </td>
            <td>
                @Html.Label("", ((DataStatus)item.Status).ToFriendlyString())
            </td>
            

        </tr>
    }

</table>
@Html.Partial("PagerPartialView", Model)
<div class="hide" id="delete-dialog" title="删除广告">
    <p>您确认要删除该条广告吗？</p>
</div>
