@model Yintai.Hangzhou.Cms.WebSiteV1.Models.OrderViewModel
@{
    ViewBag.Title = "作废订单";
    var voidReasons = new List<SelectListItem>(){
        new SelectListItem(){ Text="现在不想购",Value="1"},
        new SelectListItem(){ Text="商品销售价贵",Value="2"},
        new SelectListItem(){ Text="等待时间过长",Value="3"},
        new SelectListItem(){ Text="有商品缺货",Value="4"},
        new SelectListItem(){ Text="更换商品",Value="5"},
        new SelectListItem(){ Text="错误或重复下单",Value="6"},
        new SelectListItem(){ Text="其他原因",Value="10"},
    };
}
@section PageBread
{
    <ul class="breadcrumb">
        <li>@Html.ActionLink2("订单列表", "List")<span class="divider">/</span></li>
        <li>@Html.ActionLink2("订单详情", "Details", new { OrderNo = Model.OrderNo })<span class="divider">/</span></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
}
@section PageJsSection
{
    <script>
        $(document).ready(function () {
            $("#VoidReasonValue").change(function(){
                var that = $(this);
                var reasonText=$("#VoidReason");
                if (that.val() == "10") {
                    reasonText.val('');
                    reasonText.show();
                }
                else {
                    reasonText.hide();
                    reasonText.val(that.find(":selected").text());
                }
            });
            $("#VoidReasonValue").trigger('change');
        });
    </script>
}
@Html.Partial("_AlertMessage")
@using (Html.BeginForm("Void", "Order", FormMethod.Post))
{
    @Html.ValidationSummary(false)
    <div class="row">
        <div class="span5">
            <div class="widget stacked">
                <div class="widget-header">
                    <h3>订单信息</h3>
                </div>
                <div class="widget-content">
                    <div class="span2">
                        @Html.LabelFor(model => model.OrderNo)
                        @Html.TextBoxFor(model => model.OrderNo, new { @class = "span2", @readonly = true })
                    </div>
                    <div class="span2">
                        @Html.LabelFor(model => model.Customer)
                        @Html.TextBoxFor(model => model.Customer.Nickname, new { @class = "span2", @readonly = true })
                    </div>
                    <div class="span2">
                        @Html.LabelFor(model => model.TotalAmount)
                        @Html.TextBoxFor(model => model.TotalAmount, new { @class = "span2", @readonly = true })
                    </div>
                    <div class="span2">
                        @Html.LabelFor(model => model.ShippingFee)
                        @Html.TextBoxFor(model => model.ShippingFee, new { @class = "span2", @readonly = true })
                    </div>
                    <div class="span2">
                        @Html.LabelFor(model => model.StoreName)
                        @Html.TextBoxFor(model => model.StoreName, new { @class = "span2", @readonly = true })
                    </div>
                    <div class="span2">
                        @Html.LabelFor(model => model.PaymentMethodName)
                        @Html.TextBoxFor(model => model.PaymentMethodName, new { @class = "span2", @readonly = true })
                    </div>
                    <div class="span2">
                        @Html.LabelFor(model => model.Status)
                        @Html.TextBox("StatusS", ((Yintai.Hangzhou.Model.Enums.OrderStatus)Model.Status).ToFriendlyString(), new { @class = "span2", @readonly = true })
                    </div>
                    <div class="span2">
                        @Html.LabelFor(model => model.Memo)
                        @Html.TextBoxFor(model => model.Memo, new { @class = "span2", @readonly = true })
                    </div>

                    <div class="span2">
                        @Html.LabelFor(model => model.CreateDate)
                        @Html.TextBoxFor(model => model.CreateDate, new { @class = "span2", @readonly = true })
                    </div>
                    <div class="span2">
                        @Html.LabelFor(model => model.UpdateDate)
                        @Html.TextBoxFor(model => model.UpdateDate, new { @class = "span2", @readonly = true })
                    </div>
                </div>
            </div>
        </div>
        <div class="span5">
            <div class="widget stacked">
                <div class="widget-header">
                    <h3>作废订单</h3>
                </div>
                <div class="widget-content">
                    <div class="span5">
                        @Html.LabelFor(model => model.VoidReason)
                        @Html.DropDownList("VoidReasonValue",voidReasons)
                        @Html.TextAreaFor(model => model.VoidReason, new { @class = "span4" })
                    </div>

                </div>
            </div>
        </div>
    </div>
    
    <div class="form-actions">
        <input type="submit" value="作废" class="btn btn-danger" />
        @Html.ActionLink2("返回订单", "Details", new { OrderNo = Model.OrderNo }, new { @class = "btn" })
    </div>
}