@model Yintai.Hangzhou.Cms.WebSiteV1.Models.CommentViewModel
@{
    ViewBag.Title = "回复评论";
}
@section PageBread
{
    <ul class="breadcrumb">
        <li>@Html.ActionLink2("用户管理", "Index","Customer")<span class="divider">/</span></li>
        <li>@Html.ActionLink2("用户列表", "List")<span class="divider">/</span></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
}
<h2>@ViewBag.Title</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="editor-label">
            @Html.LabelFor(model => model.Content)
        </div>
        <div class="editor-field">
            @Html.TextArea("content", Model == null ? String.Empty : Model.Content)
            @Html.ValidationMessageFor(model => model.Content)
        </div>

            

      <p>
          @Html.HiddenFor(m=>m.ReplyId)
             <input type="submit" value="回复" class="btn btn-primary" />
            @Html.ActionLink2("返回列表", "List", null, new { @class="btn"})
        </p>
    </fieldset>
}
