@model Yintai.Hangzhou.Cms.WebSiteCoreV1.Models.CommentViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>CommentViewModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Content)
        </div>
        <div class="editor-field">
            @Html.TextArea("content", Model == null ? String.Empty : Model.Content)
            @Html.ValidationMessageFor(model => model.Content)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.User_Id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.User_Id)
            @Html.ValidationMessageFor(model => model.User_Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SourceId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SourceId)
            @Html.ValidationMessageFor(model => model.SourceId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SourceType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SourceType)
            @Html.ValidationMessageFor(model => model.SourceType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReplyUser)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReplyUser)
            @Html.ValidationMessageFor(model => model.ReplyUser)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReplyId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReplyId)
            @Html.ValidationMessageFor(model => model.ReplyId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
