@model Yintai.Hangzhou.Cms.WebSiteCoreV1.Models.CommentCollectionViewModel
@using Yintai.Hangzhou.Model.Filters
@{
    ViewBag.Title = "评论列表";
    CommentSearchOption search = ViewBag.SearchOptions;
    HtmlHelper<CommentSearchOption> searchModelHelper = Html.HtmlHelperFor<CommentSearchOption>();

}
@section PageBread
{
    <ul class="breadcrumb">
        <li>@Html.ActionLink2("用户管理", "Index","Customer")<span class="divider">/</span></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
}

@section PageJsSection {
    <script>
        $(function () {
            $("a[id^='delete']").click(function (event) {
                event.preventDefault();
                var self = $(this);
                var itemId = $(this).attr("data-rightId");
                $("#delete-dialog").dialog({
                    resizable: false,
                    height: 140,
                    modal: true,
                    buttons: {
                        "删除": function () {
                            $(this).dialog("close");
                            $.ajax({
                                type: "POST",
                                url: "@(Url.Action("Delete"))",
                                data: {
                                    id: itemId
                                },
                                success: function (data) {
                                    if (data["Success"] == true) {
                                        self.parents("tr:first").remove();
                                    }
                                    else {
                                        alert('删除失败！');
                                    }
                                },
                                error: function (data, textStatus, jqXHR) {
                                    alert('删除失败！');
                                }

                            });
                        },
                        "取消": function () {
                            $(this).dialog("close");
                        }
                    }

                });
            });
            $("a[id^='online']").click(function (event) {
                event.preventDefault();
                var self = $(this);
                var itemId = $(this).attr("data-rightId");
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("OnLine"))",
                                data: {
                                    id: itemId
                                },
                                success: function (data) {
                                    if (data["Success"] == true) {
                                        self.parents("tr:first").find("td[id='comment_status']").html("上线");
                                    }
                                    else {
                                        alert('操作失败！');
                                    }
                                },
                                error: function (data, textStatus, jqXHR) {
                                    alert('操作失败！');
                                }

                 });
            });
            $("a[id^='offline']").click(function (event) {
                event.preventDefault();
                var self = $(this);
                var itemId = $(this).attr("data-rightId");
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("OffLine"))",
                    data: {
                        id: itemId
                    },
                    success: function (data) {
                        if (data["Success"] == true) {
                            self.parents("tr:first]").find("td[id='comment_status']").html("下线");
                        }
                        else {
                            alert('操作失败！');
                        }
                    },
                    error: function (data, textStatus, jqXHR) {
                        alert('操作失败！');
                    }

                });
             });
        });
    </script>
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("List", null, new { page = 0 }, FormMethod.Get, new { @class = "form-horizontal searchForm-border" }))
{
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="span4">
                        <div class="control-group">
                <label class="control-label" for="Name">@searchModelHelper.LabelFor(m=>m.CommentUserName)</label>
                <div class="controls">
                    @searchModelHelper.EditorFor(m => search.CommentUserName)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Name">@searchModelHelper.LabelFor(m=>m.CreateUserName)</label>
                <div class="controls">
                    @searchModelHelper.EditorFor(m => search.CreateUserName)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Name">@searchModelHelper.LabelFor(m=>m.OrderBy)</label>
                <div class="controls">
                    @searchModelHelper.DropDownListFor(m => search.OrderBy, EnumHelper.DisplayList<GenericOrder>())
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    <button type="submit" class="btn">查询</button>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="control-group">
                <label class="control-label" for="Name">@searchModelHelper.LabelFor(m=>m.ProductId)</label>
                <div class="controls">
                    @searchModelHelper.EditorFor(m=>search.ProductId)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Name">@searchModelHelper.LabelFor(m=>m.PromotionId)</label>
                <div class="controls">
                    @searchModelHelper.EditorFor(model => search.PromotionId)
                </div>
            </div>
        </div>
        
    </div>
}
<table>
    <tr>
        <th>图片
        </th>
        <th>操作</th>
        <th>来源
        </th>
        <th>来源代码
        </th>
        <th>评论内容
        </th>
        <th>评论语音</th>
                <th>是否回复评论</th>
        <th>评论人
        </th>

        <th>评论时间
        </th>
         <th>状态
        </th>


    </tr>

    @foreach (var item in Model.Comments)
    {
        <tr>
            <td>
                 @if (item.SourceResource != null)
                {
                    <div>
                        @if(item.SourceType == (int)Yintai.Hangzhou.Model.Enums.SourceType.Product) {
                            <a href="@Url.Action("Details", "Product", new { id = item.SourceId })">
                                <img width="60" src="@String.Concat(item.SourceResource.Domain, item.SourceResource.Name, "_120x0.jpg")" alt="120X0" />
                            </a>
                        } else {
                             <a href="@Url.Action("Details", "Promotion", new { id = item.SourceId })">
                                <img width="60" src="@String.Concat(item.SourceResource.Domain, item.SourceResource.Name, "_120x0.jpg")" alt="120X0" />
                            </a>
                        }
                    </div>
                }

            </td>
            <td>
                 <div class="btn-group">
                <button class="btn btn-small">操作</button>
                    <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink2("回复", "Create", new { commentId = item.Id })</li>
                        <li>@Html.ActionLink2("详情", "Details", new { id = item.Id }) </li>
                        @if (item.Status == (int)Yintai.Hangzhou.Model.Enums.DataStatus.Default) { 
                        <li><a href="#" data-rightId="@item.Id" class="btn" id="online@(item.Id)">上线</a></li>
                        }
                        else
                        { 
                             <li><a href="#" data-rightId="@item.Id" class="btn" id="offline@(item.Id)">下线</a></li>
                        }
                        <li><a href="#" data-rightId="@item.Id" class="btn btn-danger" id="delete@(item.Id)">删除</a></li>
                        
                    </ul>
                </div>
            </td>
            <td>
                @Html.Label("", ((Yintai.Hangzhou.Model.Enums.SourceType)item.SourceType).ToFriendlyString())
            </td>
              <td>
               @Html.DisplayFor(m=> item.SourceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                 @if (item.CommentResource != null)
                 {
                      @Html.Partial("_AudioPlayer", item.CommentResource)
                 }
            </td>
            <td>
                @if (item.ReplyId != 0)
                { 
                    <a href="@Url.Action("Details", new { id = item.ReplyId })">是</a>
                }
                else
                {
                    <p>否</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentUser.Nickname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
                       <td id="comment_status">
                @Html.Label("", ((Yintai.Hangzhou.Model.Enums.DataStatus)item.Status).ToFriendlyString())
            </td>
        </tr>
    }

</table>
@Html.Partial("PagerPartialView", Model)
