@model Yintai.Hangzhou.Cms.WebSiteCoreV1.Models.CommentCollectionViewModel
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var url = String.IsNullOrWhiteSpace(Model.UL) ? String.Format("{0}/{1}", ViewContext.RouteData.Values["controller"].ToString().ToLower(), "list") : Model.UL.ToLower();
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div>
    <form action="/@url">
        <label for="name">产品名称</label>
        <input name="name" type="text" />

        <label for="recommenduser">推荐人</label>
        <input name="recommenduser" type="text" />

        <label for="brandid">品牌Id</label>
        <input name="brandid" type="text" />

        <label for="tagid">tagId</label>
        <input name="tagid" type="text" />

        <input type="submit" value="查询" />
    </form>
</div>
<table>
    <tr>
        <th>Content
        </th>
        <th>User_Id
        </th>
        <th>SourceId
        </th>
        <th>SourceType
        </th>
        <th>ReplyUser
        </th>
        <th>ReplyId
        </th>
        <th>Status
        </th>
        <th>CreatedUser
        </th>
        <th>CreatedDate
        </th>
        <th>UpdatedDate
        </th>
        <th>UpdatedUser
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Comments)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReplyUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReplyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedUser)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@Html.Partial("PagerPartialView", Model)

@section HeaderStyles
{
    <link href="@Url.Content("~/content/themes/webget/easyui/default/easyui.css")"  rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/themes/webget/easyui/icon.css")" rel="stylesheet" type="text/css" />
}

@section HeaderScripts
{
    <script src="@Url.Content("~/Scripts/widget/jquery.easyui.min.js")" type="text/javascript"></script>
}