@model Yintai.Hangzhou.Cms.WebSiteV1.Models.PagerInfo
@{
    if (Model == null)
    {
        return;
    }
    var url = String.IsNullOrWhiteSpace(Model.UL) ? String.Format("/{0}/{1}", ViewContext.RouteData.Values["controller"].ToString().ToLower(), ViewContext.RouteData.Values["action"].ToString()) : Model.UL.ToLower();
    var queryFormat = string.Format("{0}/{1}{2}",url,"{0}",Model.Query);

    var startIndex = Model.Index-3<=1?1:Model.Index-3;
    var endIndex = Model.Index+3>=Model.TotalPaged?Model.TotalPaged:Model.Index+3;
 }
@if(Model.IsPaged)
{
<div class="pagination pagination-centered">
    <ul>

        <li>
            @if (Model.Index <= 1)
            { 
                <span class="disabled">&laquo;</span>
            }
            else
            {
                <a href="@string.Format(queryFormat, Model.Index - 1)" >&laquo;</a>
            }
        </li>
        @for (int i = startIndex; i <= endIndex; i++)
        {
            <li>
                @if (i == Model.Index)
                { 
                    <span>@i</span>
                }
                else
                {
                    <a href="@string.Format(queryFormat, i)">@i</a>
                }
            </li>
        }
        <li>
            @if (Model.Index >= Model.TotalPaged)
            { 
                <span class="disabled">&raquo;</span>
            }
            else
            {
                <a href="@string.Format(queryFormat, Model.Index + 1)" >&raquo;</a>
            }
        </li>
        <li><span>@string.Format("{0}/{1}",Model.Index,Model.TotalPaged)</span></li>
    </ul>
    
</div>
}
