@model GiftCardEntityModel
@{
    ViewBag.Title = "新增礼品卡";
}
@section PageBread
{
    <ul class="breadcrumb">
        <li>@Html.ActionLink2("首页", "index", "Home")<span class="divider">/</span></li>
        <li>@Html.ActionLink2("礼品卡列表", "List")<span class="divider">/</span></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
}

@section PageJsSection {
    <script>
        $(document).ready(function() {
            $("#btn_add").click(function() {
                var tr = '<tr><td><input type="text" /></td><td><input type="text"/></td><td><input type="text"/></td><td><input type="checkbox"/> </td><td><a href="javascript:void(0)" onclick="removetr(this)">删除</a></td></tr>';
                $("tr:last").before(tr);
            });

        });

        function removetr(e) {
            $(e).parent().parent().remove();
        }
    </script>
}

<h2>@ViewBag.Title</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="label">@Html.Label("描述")</div>
        <div class="text-box">
            @Html.TextBox("Name")
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </fieldset>
    <fieldset>
        <div class="label">@Html.Label("增加子卡")</div>
        <table id="table">
            <tr><th>面额</th><th>销售价</th><th>销售配额</th><th>是否上线</th><th>删除</th></tr>
            <tr>
                <td><input type="text"/></td>
                <td><input type="text"/></td>
                <td><input type="text"/></td>
                <td><input type="checkbox"/></td>
                <td><a href="javascript:void(0)" onclick="removetr(this)">删除</a></td>
            </tr>
            <tr id="tr_add"><td colspan="5"><input id="btn_add" type="button" value="增加子卡" /></td></tr>
        </table>
    </fieldset>
    <p>
        <input type="submit" value="创建" class="btn btn-primary" />
        @Html.ActionLink2("返回列表", "List", null, new { @class = "btn" })
    </p>
}
