@model GiftCardItemViewModel
@{
    ViewBag.Title = "礼品卡详情";
}
@section PageBread
{
    <ul class="breadcrumb">
        <li>@Html.ActionLink2("礼品卡列表", "List")<span class="divider">/</span></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
}

@section PageJsSection {
    
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="display-label">@Html.Label("编码：")</div>
        <div class="display-field">@Html.Label(Model.Card.Id.ToString("D"))</div>
        <div class="display-label">@Html.Label("礼品卡：")</div>
        <div class="display-field">@Html.Label(Model.Card.Name)</div>
        <div class="display-label">状态</div>
        <div class="display-field">@Html.Label(Model.Card.Status == 1 ? "上线" : "下线")</div>
    </fieldset>
    
}

<fieldset>
    <table>
        <tr>
            <th>子卡编码</th>
            <th>面额</th>
            <th>销售价</th>
            <th>销售配额</th>
            <th>上线</th>
        </tr>
        @foreach (var item in Model.CardItems)
        {
            <tr>
                <td>@Html.Label(item.Id.ToString("d")) @Html.Hidden("id", item.Id) @Html.Hidden("giftcardId", item.GiftCardId.ToString("D"))</td>
                <td>@Html.TextBox("amount", item.UnitPrice)</td>
                <td>@Html.TextBox("price", item.Price)</td>
                <td>@Html.TextBox("quota", item.MaxLimit)</td>
                <td>@Html.CheckBox("status",item.Status==1)</td>
            </tr>
        }
    </table>
</fieldset>



