@using Yintai.Hangzhou.Model.Filters
@using Yintai.Hangzhou.Model.Enums
@model Yintai.Hangzhou.Cms.WebSiteV1.Models.Pager<UserAuthViewModel>
@{
    ViewBag.Title = "数据授权列表";
    UserAuthSearchOption search = ViewBag.SearchOptions ?? new UserAuthSearchOption();
    HtmlHelper<UserAuthSearchOption> searchModelHelper = Html.HtmlHelperFor<UserAuthSearchOption>();
}

@section PageJsSection {
    <script>
        $(function () {
            $("a[id^='delete']").click(function (event) {
                event.preventDefault();
                var self = $(this);
                var itemId = $(this).attr("data-rightId");
                $("#delete-dialog").dialog({
                    resizable: false,
                    height: 140,
                    modal: true,
                    buttons: {
                        "删除": function () {
                            $(this).dialog("close");
                            $.ajax({
                                type: "POST",
                                url: "@(Url.Action("Delete"))",
                                data: {
                                    id: itemId
                                },
                                success: function (data) {
                                    if (data["Success"] == true) {
                                        self.parents("tr:first").remove();
                                    }
                                    else {
                                        alert('删除失败！');
                                    }
                                },
                                error: function (data, textStatus, jqXHR) {
                                    alert('删除失败！');
                                }

                            });
                        },
                        "取消": function () {
                            $(this).dialog("close");
                        }
                    }

                });
            });
        });
    </script>
}

@section PageBread
{
    <ul class="breadcrumb">
        <li>@Html.ActionLink2("权限管理", "Index", "Role")<span class="divider">/</span></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
}

<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink2("新建", "Create", null, new { @class = "btn btn-primary" })
</p>
@using (Html.BeginForm("List", "UserAuth", new {page=0 }, FormMethod.Get, new { @class = "form-horizontal searchForm-border small-labels" }))
{
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="span4">
            <div class="control-group">
                <label class="control-label" for="Name">@searchModelHelper.LabelFor(m => search.UserId)</label>
                <div class="controls">
                    @searchModelHelper.EditorFor(m => search.UserId)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Name">@searchModelHelper.LabelFor(m => search.StoreId)</label>
                <div class="controls">
                    @searchModelHelper.EditorFor(m => search.StoreId)
                </div>
            </div>
          <div class="control-group">
                <label class="control-label" for="Name">@searchModelHelper.LabelFor(m => search.Type)</label>
                <div class="controls">
                    @searchModelHelper.EditorFor(m => search.Type)
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                    <button type="submit" class="btn">查询</button>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="control-group">
                <label class="control-label" for="Name">@searchModelHelper.LabelFor(m => search.BrandId)</label>
                <div class="controls">
                    @searchModelHelper.EditorFor(m => search.BrandId)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Name">@searchModelHelper.LabelFor(m => search.OrderBy)</label>
                <div class="controls">
                   @searchModelHelper.DropDownListFor(m => search.OrderBy, EnumHelper.DisplayList<GenericOrder>())
               
                </div>
            </div>
           
                      
        </div>

    </div>
}
<table>
    <tr>
        <th>操作</th>
        <th>编码</th>

        <th>数据类型
        </th>
        <th>用户代码
        </th>
        <th>用户昵称
        </th>
        <th>门店
        </th>
        <th>品牌
        </th>
        <th>创建时间
        </th>
    </tr>

    @foreach (var item in Model.Data)
    {
        <tr>
            <td>
                <div class="btn-group">
                    <button class="btn btn-small">操作</button>
                    <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink2("编辑", "Edit", new { id = item.Id })</li>
                        <li><a href="#" data-rightId="@item.Id" class="btn btn-danger" id="delete@(item.Id)">删除</a></li>
                    </ul>

                </div>
            </td>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>
               @Html.Label("", ((AuthDataType)item.Type).ToFriendlyString())
            </td>
            <td>@Html.DisplayFor(modelItem => item.UserId)</td>
            <td>
                @Html.DisplayFor(modelItem => item.UserNick)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>

        </tr>
    }

</table>
@Html.Partial("PagerPartialView", this.Model)
<div class="hide" id="delete-dialog" title="删除授权">
    <p>您确认要删除该条授权吗？</p>
</div>
