@model Yintai.Hangzhou.Cms.WebSiteCoreV1.Models.PagerInfo
@{
    var url = String.IsNullOrWhiteSpace(Model.UL) ? String.Format("/{0}/{1}", ViewContext.RouteData.Values["controller"].ToString().ToLower(), "list") : Model.UL.ToLower();
    var queryFormat = string.Format("{0}/{1}{2}",url,"{0}",Model.Query);

    var startIndex = Model.Index-3<=1?1:Model.Index-3;
    var endIndex = Model.Index+3>=Model.TotalPaged?Model.TotalPaged:Model.Index+3;
 }
@if(Model.IsPaged)
{
<div class="pagination pagination-centered">
    <ul>

        <li>
            @if (Model.Index <= 1)
            { 
                <span class="disabled">&laquo;</span>
            }
            else
            {
                <a href="@string.Format(queryFormat, Model.Index - 1)" >&laquo;</a>
            }
        </li>
        @for (int i = startIndex; i <= endIndex; i++)
        {
            <li>
                @if (i == Model.Index)
                { 
                    <span>@i</span>
                }
                else
                {
                    <a href="@string.Format(queryFormat, i)">@i</a>
                }
            </li>
        }
        <li>
            @if (Model.Index >= Model.TotalPaged)
            { 
                <span class="disabled">&raquo;</span>
            }
            else
            {
                <a href="@string.Format(queryFormat, Model.Index + 1)" >&raquo;</a>
            }
        </li>
    </ul>
</div>
}

<script type="text/javascript">
    function pager(page, size) {

        window.location.href = '/@url' + '/' + page + '@Html.Raw(Model.Query)';
    }
</script>
