@model Yintai.Hangzhou.Cms.WebSiteCoreV1.Models.StoreViewModel
@{
    ViewBag.Title = "实体店详情";
}

<h2>@ViewBag.Title</h2>
@section PageBread
{
    <ul class="breadcrumb">
        <li>@Html.ActionLink2("实体店管理", "Index")<span class="divider">/</span></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
}
<fieldset>
    <div class="display-label">@Html.LabelFor(model => model.Name)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.Description)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.Location)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Location)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.Tel)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tel)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.CreatedUser)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedUser)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.CreatedDate)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedDate)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.UpdatedDate)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdatedDate)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.UpdatedUser)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdatedUser)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.Longitude)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Longitude)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.Latitude)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Latitude)
    </div>
    <div class="display-label">@Html.LabelFor(model => model.GpsLng
)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GpsLng)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.GpsLat)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GpsLat)
    </div>
    <div class="display-label">@Html.LabelFor(model => model.GpsAlt)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GpsAlt)
    </div>
    <div class="display-label">@Html.LabelFor(model => model.Status)</div>
    <div class="display-field">
        @Html.Label("", ((Yintai.Hangzhou.Model.Enums.DataStatus)Model.Status).ToFriendlyString())
    </div>
     <div class="display-label">图片</div>
    <div class="display-field">
        @if (this.Model.Resources != null && Model.Resources.Count() > 0)
        {
            var re = Model.Resources.First();
                        
            <img width="120" src="@String.Concat(re.Domain, re.Name, "_640x400.jpg")" alt="630x0" />

        }
    </div>

</fieldset>
<p>
    @Html.ActionLink2("修改", "Edit", new { id = Model.Id }, new { @class="btn"}) 
   @Html.ActionLink2("返回", "List", null, new { @class="btn"}) 
</p>
