@model Yintai.Hangzhou.Cms.WebSiteV1.Models.StoreCollectionViewModel
@{
    ViewBag.Title = "实体店列表";
    
}
@section PageBread
{
    <ul class="breadcrumb">
        <li>@Html.ActionLink2("配置管理", "Index","Configuration")<span class="divider">/</span></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
}
@section PageJsSection {
    <script>
        $(function () {
            $("a[id^='delete']").click(function (event) {
                event.preventDefault();
                var self = $(this);
                var itemId = $(this).attr("data-rightId");
                $("#delete-dialog").dialog({
                    resizable: false,
                    height: 140,
                    modal: true,
                    buttons: {
                        "删除": function () {
                            $(this).dialog("close");
                            $.ajax({
                                type: "POST",
                                url: "@(Url.Action("Delete"))",
                                data: {
                                    id: itemId
                                },
                                success: function (data) {
                                    if (data["Success"] == true) {
                                        self.parents("tr:first").remove();
                                    }
                                    else {
                                        alert('删除失败！');
                                    }
                                },
                                error: function (data, textStatus, jqXHR) {
                                    alert('删除失败！');
                                }

                            });
                        },
                        "取消": function () {
                            $(this).dialog("close");
                        }
                    }

                });
            });
        });
    </script>
}
<h2>@ViewBag.Title</h2>
<p>
@Html.ActionLink2("新建", "Create", null, new {page=0 }, new { @class="btn btn-primary"})
    </p>
<table>
    <tr>
        <th>实体店编码</th>
        <th>操作</th>
        <th>名称
        </th>
        <th>描述
        </th>
        <th>地址
        </th>
        <th>电话
        </th>
        <th>经度
        </th>
        <th>纬度
        </th>
        <th>GPS经度
        </th>
        <th>GPS纬度
        </th>
        <th>GPS海拨</th>
                <th>创建用户
        </th>
        <th>创建时间
        </th>
    </tr>

    @foreach (var item in Model.Stores)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-small">操作</button>
                    <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink2("编辑", "Edit", new { id = item.Id })</li>
                        <li>@Html.ActionLink2("详情", "Details", new { id = item.Id }) </li>
                        <li><a href="#" data-rightId="@item.Id" class="btn btn-danger" id="delete@(item.Id)">删除</a></li>
                    </ul>

                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tel)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GpsLng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GpsLat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GpsAlt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>

        </tr>
    }

</table>
@Html.Partial("PagerPartialView", this.Model)
<div class="hide" id="delete-dialog" title="删除实体店">
    <p>您确认要删除该条实体店吗？</p>
</div>