@using Yintai.Hangzhou.Model.Enums
@using Yintai.Hangzhou.Cms.WebSiteV1.Util
@using Yintai.Hangzhou.WebSupport.Helper
@using Yintai.Hangzhou.Model.Filters
@model OrderSearchOption
@{
    ViewBag.Title = "订单列表";
    var detailUrl = string.Format("<a target='_blank' href='{0}?orderNo={1}'>{1}</a>", Url.Action("details"), "#: OrderNo#");
}

@section PageBread
{
    <ul class="breadcrumb">
        <li>@Html.ActionLink2("订单管理", "Index")<span class="divider">/</span></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
}
@section PageJsSection
{
    <script>
        var orderDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url:"@Url.Action("listp")",
                    type: "POST",
                    dataType: "json",
                    data: {
                        @foreach(var property in typeof(OrderSearchOption)
                            .GetProperties(System.Reflection.BindingFlags.Public
                                        | System.Reflection.BindingFlags.Instance))
                        {
                             @(string.Format("{0}",property.Name))<text>:
                                function(){ return $("#@(property.Name)").val()},
                            </text> 
                        }
                    }
                }
            },
             pageSize: 10,
             serverPaging: true,
             schema:{
                 data: "Data",
                 model: {
                     fields:{
                         CreateDate: {type: "date"}
                     }},
               total:"TotalCount",
              
             }
         });    
        $(document).ready(function () {
            $("form:first").submit(function(){
                orderDataSource.read();
                return false;
            });
            $("#grid").kendoGrid({
                dataSource: orderDataSource,
                sortable: false,
                autoBind: true,
                pageable: {
                    messages: {
                        display:"{0} - {1} of {2} 记录",
                        empty: "没有记录！",
                    }
                },
                columns:[{
                    field:"OrderNo",
                    title:"订单号",
                    template: "@Html.Raw(detailUrl)",
                    attributes: {
                        style: "font-size: 12px;text-align:left;margin-left:0px"
                    }
                },{
                    field:"StatusName",
                    title:"订单状态"
                },{
                    field:"RMAStatusName",
                    title:"退货状态"
                }
                ,{
                    field:"TotalAmount",
                    title:"订单金额"
                },{
                    field:"StoreName",
                    title:"门店"
                },{
                    field:"Customer.Nickname",
                    title:"订购人"
                },{
                    field:"CustomerId",
                    title:"订购人编码"
                },{
                    field:"PaymentMethodName",
                    title:"支付方式"
                },{
                    field:"ShippingViaMethod_Name",
                    title:"配送方式"}
                ,{
                    field:"CreateDate",
                    title:"创建时间",
                    format:"{0:MM/dd/yyyy HH:mm:ss}"
                }]
               
            });
        });
      
    </script>
    }
@using (Html.BeginForm("List",null,FormMethod.Post,
        new { @class = "form-horizontal searchForm-border small-labels" }))
{
    @Html.ValidationSummary(false)
    <div class="row">
        <div class="span2">
            <div class="control-group">
                <label class="control-label" for="Name">@Html.LabelFor(m => Model.OrderNo)</label>
                <div class="controls">
                    @Html.TextBoxFor(m => Model.OrderNo, new { @class = "span1" })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Name">@Html.LabelFor(m => Model.CustomerId)</label>
                <div class="controls">
                    @Html.TextBoxFor(m => Model.CustomerId, new { @class = "span1" })
                </div>
            </div>

            <div class="control-group">
                <div class="control-label">
                    <button type="submit" class="btn">查询</button>
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="control-group">
                <label class="control-label" for="Name">@Html.LabelFor(m => Model.Brand)</label>
                <div class="controls">
                    @Html.EditorFor(m => Model.Brand, new { @class = "span2" })
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="Name">@Html.LabelFor(m => Model.Store)</label>
                <div class="controls">
                    @Html.EditorFor(m => Model.Store, new { @class = "span2" })
                </div>
            </div>


        </div>
        <div class="span3">
            <div class="control-group">
                <label class="control-label" for="Name">@Html.LabelFor(m => Model.FromDate)</label>
                <div class="controls">
                     @Html.EditorFor(m => Model.FromDate, new { @class = "span2" })
                </div>
            </div>
                        <div class="control-group">
                <label class="control-label" for="Name">@Html.LabelFor(m => Model.ToDate)</label>
                <div class="controls">
                     @Html.EditorFor(m => Model.ToDate, new { @class = "span2" })
                </div>
            </div>
           
        </div>
        <div class="span3">
             <div class="control-group">
                <label class="control-label" for="Name">状态</label>
                <div class="controls">
                    @Html.DropDownListFor(m => Model.Status, EnumHelper.DisplayList<OrderStatus>(), new { @class = "span2" })
                </div>
            </div>
        </div>
      


    </div>
}
<div class="k-content">
    <div id="grid"></div>
</div>

