@using Yintai.Hangzhou.Model.Enums
@using Yintai.Hangzhou.WebSupport.Helper
@model Yintai.Hangzhou.Cms.WebSiteV1.Models.ProductViewModel
@{
    ViewBag.Title = "创建商品";
}
@section PageBread
{
    <ul class="breadcrumb">
        <li>@Html.ActionLink2("商品管理", "Index")<span class="divider">/</span></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Brand_Id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Brand_Id)
            @Html.ValidationMessageFor(model => model.Brand_Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextArea("Description", Model == null ? String.Empty : Model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
            <div class="editor-label">
            @Html.LabelFor(model => model.UnitPrice)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UnitPrice)
            @Html.ValidationMessageFor(model => model.UnitPrice)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RecommendedReason)
        </div>
        <div class="editor-field">
            @Html.TextArea("RecommendedReason", Model == null ? String.Empty : Model.RecommendedReason)
            @Html.ValidationMessageFor(model => model.RecommendedReason)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SortOrder)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SortOrder)
            @Html.ValidationMessageFor(model => model.SortOrder)
        </div>
     <div class="editor-label-flow">  
            <span >@Html.LabelFor(model=>model.Is4Sale)</span>     
            @Html.CheckBox("Is4Sale",Model==null?false:Model.Is4Sale??false)
            @Html.ValidationMessageFor(model => model.Is4Sale)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Store_Id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Store_Id)
            @Html.ValidationMessageFor(model => model.Store_Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tag_Id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tag_Id)
            @Html.ValidationMessageFor(model => model.Tag_Id)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.TopicIds)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TopicIds)
            @Html.ValidationMessageFor(model => model.TopicIds)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PromotionIds)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PromotionIds)
            @Html.ValidationMessageFor(model => model.PromotionIds)
        </div>
    <div class="editor-label-required">
            选择商品图片
        </div>
        <div class="editor-field">
            <ul>
                <li>
            <input type="file" id="file1" name="file1" /></li>
            <li><input type="file" id="file2" name="file2" /></li>
            <li><input type="file" id="file3" name="file3" /></li>
           </ul>
        </div>
        <p>
            <button id="btnSubmit" type="submit" value="创建" class="btn btn-primary" data-loading-text="正在创建...">创建</button>
             @Html.ActionLink2("返回列表", "List", null, new { @class="btn"})
        </p>
}


@section HeaderScripts
{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

}
