@model Yintai.Hangzhou.Cms.WebSiteCoreV1.Models.ProductViewModel
@{
    ViewBag.Title = "商品详情";
}
@section PageBread
{
    <ul class="breadcrumb">
        <li>@Html.ActionLink2("商品管理", "Index")<span class="divider">/</span></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
}

<h2>@ViewBag.Title</h2>

<fieldset>

    <div class="display-label">@Html.LabelFor(model=>model.Name)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.Brand_Id)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Brand_Id)
    </div>
        <div class="display-label">@Html.LabelFor(model => model.BrandName)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BrandName)
    </div>
    <div class="display-label">@Html.LabelFor(model => model.Description)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.CreatedDate)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedDate)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.CreatedUser)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedUser)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.Price)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.RecommendedReason)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RecommendedReason)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.Status)</div>
    <div class="display-field">
        @Html.Label("", ((Yintai.Hangzhou.Model.Enums.DataStatus)Model.Status).ToFriendlyString())
    </div>

    <div class="display-label">@Html.LabelFor(model => model.Store_Id)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Store_Id)
    </div>
        <div class="display-label">@Html.LabelFor(model => model.StoreName)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StoreName)
    </div>
    <div class="display-label"> @Html.LabelFor(model => model.Tag_Id)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tag_Id)
    </div>
        <div class="display-label"> @Html.LabelFor(model => model.TagName)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TagName)
    </div>
    <div class="display-label"> @Html.LabelFor(model => model.FavoriteCount)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FavoriteCount)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.ShareCount)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShareCount)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.InvolvedCount)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InvolvedCount)
    </div>

    <div class="display-label">@Html.LabelFor(model => model.RecommendUser)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RecommendUser)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.TopicIds)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TopicIds)
    </div>
        <div class="display-label">
        @Html.LabelFor(model => model.TopicName)
    </div>
    <div class="display-field">
        <ul>
            @foreach (var topic in Model.TopicName)
            {
                <li>
                    @Html.Label("", topic)
                </li>
            }
        </ul>
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.PromotionIds)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PromotionIds)
    </div>
        <div class="display-label">
        @Html.LabelFor(model => model.PromotionName)
    </div>
    <div class="display-field">
        <ul>
            @foreach (var pro in Model.PromotionName)
            {
                <li>
                    @Html.Label("", pro)
                </li>
            }
        </ul>
    </div>
 <div class="display-label">图片</div>
    <div class="display-field">
        @if (this.Model.Resources != null && Model.Resources.Count() > 0)
        {
            foreach (var re in Model.Resources)
            {
                if (re.Type == (int)Yintai.Architecture.Common.Models.ResourceType.Image)
                {
                        
            <img width="120" src="@String.Concat(re.Domain, re.Name, "_120x0.jpg")" alt="120x0" />
                }
            }

        }
    </div>
</fieldset>
<p>
    @Html.ActionLink2("编辑", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink2("返回列表", "List", null, new { @class = "btn" })
</p>
