@model Yintai.Hangzhou.Cms.WebSiteCoreV1.Models.ProductViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>ProductViewModel</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Brand_Id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Brand_Id)
            @Html.ValidationMessageFor(model => model.Brand_Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextArea("description", Model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RecommendedReason)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RecommendedReason)
            @Html.ValidationMessageFor(model => model.RecommendedReason)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Favorable)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Favorable)
            @Html.ValidationMessageFor(model => model.Favorable)
        </div>



        <div class="editor-label">
            @Html.LabelFor(model => model.Store_Id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Store_Id)
            @Html.ValidationMessageFor(model => model.Store_Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tag_Id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tag_Id)
            @Html.ValidationMessageFor(model => model.Tag_Id)
        </div>
        <div>
            @if (this.Model.Resources != null && Model.Resources.Count > 0)
            {
                <table style="border: 0;">
                    @foreach (var re in Model.Resources)
                    {
                        <tr>
                            <td>
                                @if (re.Type == (int)Yintai.Architecture.Common.Models.ResourceType.Image)
                                {
                        
                                    <img src="@String.Concat(re.Domain, re.Name, "_120x0.jpg")" alt="120X0" />
                                }
                            </td>
                            <td>

                                @Html.ActionLink("Del", "Delete", "Resource", new { id = re.Id }, new { target = "_blank" })
                            </td>
                        </tr>
                    }

                    <tr>
                        <td></td>
                        <td>@Html.ActionLink("AddRrsource", "Create", "Resource", new
                                {
                                    SourceId = this.Model.Id,
                                    SourceType = (int)Yintai.Hangzhou.Model.Enums.SourceType.Product
                                },null)</td>
                    </tr>
                </table>
            }
        </div>
        @*        <div class="editor-label">
            @Html.LabelFor(model => model.FavoriteCount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FavoriteCount)
            @Html.ValidationMessageFor(model => model.FavoriteCount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ShareCount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ShareCount)
            @Html.ValidationMessageFor(model => model.ShareCount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.InvolvedCount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InvolvedCount)
            @Html.ValidationMessageFor(model => model.InvolvedCount)
        </div>*@

        @* <div class="editor-label">
            @Html.LabelFor(model => model.RecommendUser)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RecommendUser)
            @Html.ValidationMessageFor(model => model.RecommendUser)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RecommendSourceType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RecommendSourceType)
            @Html.ValidationMessageFor(model => model.RecommendSourceType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RecommendSourceId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RecommendSourceId)
            @Html.ValidationMessageFor(model => model.RecommendSourceId)
        </div>*@

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "List")
</div>

@section HeaderScripts
{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
}
