@using Yintai.Hangzhou.Model.Enums
@using Yintai.Hangzhou.Cms.WebSiteCoreV1.Util
@using Yintai.Hangzhou.WebSupport.Helper
@model Yintai.Hangzhou.Cms.WebSiteCoreV1.Dto.Product.ListDto
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var url = String.IsNullOrWhiteSpace(Model.Collection.UL) ? String.Format("{0}/{1}", ViewContext.RouteData.Values["controller"].ToString().ToLower(), "list") : Model.Collection.UL.ToLower();
}

<h2>List</h2>

<p>
    @Html.ActionLink2("Create New", "Create")
</p>

<div>
    <form action="/@url">
        <div class="span4">
            <label for="name">产品名称</label>
            <input name="name" type="text" value="@Model.SearchParams.Name" />
        </div>
        <div class="span4">
            <label for="recommendUser">推荐人</label>
            <input name="recommendUser" type="text" value="@Model.SearchParams.RecommendUser" />
        </div>
        <div class="span4">
            <label for="brandId">品牌Id</label>
            <input name="brandId" type="text" value="@Model.SearchParams.BrandId" />
        </div>
        <div class="span4">
            <label for="tagId">tagId</label>
            <input name="tagId" type="text" value="@Model.SearchParams.TagId" />
        </div>
        <div class="span4">
            <label for="promotionId">promotionid</label>
            <input name="promotionId" type="text" value="@Model.SearchParams.PromotionId" />
        </div>
        <div class="span4">
            <label for="topicId">topicid</label>
            <input name="topicId" type="text" value="@Model.SearchParams.TopicId" />
        </div>
        <div class="span4">
            @Html.Label("status")
            @Html.DropDownList("status", DataStatus.Normal.ToSelectList(Model.SearchParams.Status ?? (int)DataStatus.Normal), "請選擇")
        </div>
        <div class="span4">
            <label for="sort">排序方式</label>
            @Html.DropDownList("sort", ProductSortOrder.CreatedDateDesc.ToSelectList(Model.SearchParams.Sort ?? (int)(ProductSortOrder.CreatedDateDesc)), "請選擇")
        </div>

        <div class="span4">
            <input type="submit" value="查询" class="btn btn-primary" />
        </div>
    </form>
</div>

<table>
    <tr>
        <th>图片</th>
        <th>操作</th>
        <th>Id</th>
        <th>Name
        </th>
        <th>活动</th>
        <th>专题</th>
        <th>Brand_Id
        </th>
        <th>Description
        </th>
        <th>CreatedDate
        </th>
        <th>CreatedUser
        </th>
        <th>UpdatedDate
        </th>
        <th>UpdatedUser
        </th>
        <th>Price
        </th>
        <th>RecommendedReason
        </th>
        <th>Favorable
        </th>
        <th>Status
        </th>
        <th>Store_Id
        </th>
        <th>Tag_Id
        </th>
        <th>FavoriteCount
        </th>
        <th>ShareCount
        </th>
        <th>InvolvedCount
        </th>
        <th>RecommendUser
        </th>
        <th>RecommendSourceType
        </th>
        <th>RecommendSourceId
        </th>
        <th>SortOrder
        </th>

    </tr>

    @foreach (var item in Model.Collection.Products)
    {
        <tr>
            <td>
                @if (item.Resources != null && item.Resources.Count > 0)
                {
                    <div class="img-thumnail">
                        @foreach (var re in item.Resources)
                        {
                            if (re.Type == (int)Yintai.Architecture.Common.Models.ResourceType.Image)
                            {
                            <img src="@String.Concat(re.Domain, re.Name, "_120x0.jpg")" class="img-rounded" style="width:120px" alt="120X0" />
                            }
                        }
                    </div>
                }
            </td>

            <td>
                @Html.ActionLink2("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink2("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink2("Delete", "Delete", new { id = item.Id }) |
                @Html.ActionLink2("ViewImage", "List", "Resource", new { sourceType = (int)SourceType.Product, sourceid = item.Id }, null)
            </td>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PromotionIds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopicIds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecommendedReason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Favorable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tag_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FavoriteCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShareCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvolvedCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecommendUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecommendSourceType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecommendSourceId)
            </td>
            <td>
                <input type="text" id="@String.Format("ssorder_{0}", item.Id)" value="@Html.DisplayFor(modelItem => item.SortOrder)"/>

                <input type="button" id="runSsorder" value="editOrder" onclick="setOrder(@item.Id);" />
            </td>

        </tr>
    }

</table>

@Html.Partial("PagerPartialView", this.Model.Collection)

@section HeaderStyles
{
    <link href="@Url.Content("~/content/themes/webget/easyui/default/easyui.css")"  rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/themes/webget/easyui/icon.css")" rel="stylesheet" type="text/css" />
}

@section HeaderScripts
{
    <script src="@Url.Content("~/Scripts/widget/jquery.easyui.min.js")" type="text/javascript"></script>
}

@section FooterScripts
{
    <script type="text/javascript">

        function setOrder(id) {
            var o = $('#ssorder_' + id).val();
            var data = 'id=' + id + '&order=' + o;
            $.post('@String.Format("/{0}/{1}", ViewContext.RouteData.Values["controller"].ToString().ToLower(), "setorder")', data, function(msg) {
                if (msg.IsSuccess) {
                    alert('更新成功');
                } else {
                    alert(msg.Message);
                }
            }, 'JSON');
        }
    </script>
}
