@model Yintai.Hangzhou.Cms.WebSiteCoreV1.Models.CustomerViewModel
@{
    ViewBag.Title = "用户详情";
}
@section PageBread
{
    <ul class="breadcrumb">
        <li>@Html.ActionLink2("用户管理", "Index")<span class="divider">/</span></li>
        <li>@Html.ActionLink2("用户列表", "List")<span class="divider">/</span></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
}
<h2>@ViewBag.Title</h2>

<fieldset>
    <div class="display-label">@Html.LabelFor(m => m.Name)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">@Html.LabelFor(m => m.Nickname)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nickname)
    </div>

    <div class="display-label">@Html.LabelFor(m => m.LastLoginDate)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastLoginDate)
    </div>

    <div class="display-label">@Html.LabelFor(m => m.Mobile)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mobile)
    </div>

    <div class="display-label">@Html.LabelFor(m => m.EMail)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EMail)
    </div>

    <div class="display-label">@Html.LabelFor(m => m.UserLevel)</div>
    <div class="display-field">
        @Html.Label("", ((Yintai.Hangzhou.Model.Enums.UserLevel)Model.UserLevel).ToFriendlyString())
    </div>


    <div class="display-label">@Html.LabelFor(m => m.Description)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">@Html.LabelFor(m => m.Gender)</div>
    <div class="display-field">
        @Html.Label("", ((Yintai.Hangzhou.Model.Enums.GenderType)Model.Gender).ToFriendlyString())
    </div>

    <div class="display-label">@Html.LabelFor(m => m.ILikeCount)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ILikeCount)
    </div>

    <div class="display-label">@Html.LabelFor(m => m.LikeMeCount)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LikeMeCount)
    </div>

    <div class="display-label">@Html.LabelFor(m => m.FavorCount)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FavorCount)
    </div>

    <div class="display-label">@Html.LabelFor(m => m.CouponCount)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CouponCount)
    </div>

    <div class="display-label">@Html.LabelFor(m => m.PointCount)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PointCount)
    </div>

    <div class="display-label">@Html.LabelFor(m => m.Status)</div>
    <div class="display-field">
        @Html.Label("", ((Yintai.Hangzhou.Model.Enums.DataStatus)Model.Status).ToFriendlyString())
    </div>


    <div class="display-label">@Html.LabelFor(m => m.CreatedDate)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedDate)
    </div>

    <div class="display-label">@Html.LabelFor(m => m.UpdatedDate)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdatedDate)
    </div>

    <div class="display-label">头像</div>
    <div class="display-field">

        @if (!String.IsNullOrWhiteSpace(Model.Logo))
        {
            <img src="@String.Concat(Model.Logo, "_100x100.jpg")" alt="100x100" />
        }
    </div>
</fieldset>
<p>
    @Html.ActionLink2("编辑", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink2("返回列表", "List", null, new { @class = "btn" })
</p>

