@model Yintai.Hangzhou.Cms.WebSiteCoreV1.Models.CustomerViewModel
@{
    ViewBag.Title = "修改用户信息";
}
@section PageBread
{
    <ul class="breadcrumb">
        <li>@Html.ActionLink2("用户管理", "Index")<span class="divider">/</span></li>
        <li>@Html.ActionLink2("用户列表", "List")<span class="divider">/</span></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
     
    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Password)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Nickname)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Nickname)
        @Html.ValidationMessageFor(model => model.Nickname)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Mobile)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Mobile)
        @Html.ValidationMessageFor(model => model.Mobile)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.EMail)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.EMail)
        @Html.ValidationMessageFor(model => model.EMail)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Description)
    </div>
    <div class="editor-field">
        @Html.TextArea("description", Model == null ? String.Empty : Model.Description)
        @Html.ValidationMessageFor(model => model.Description)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.UserLevel)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(model => model.UserLevel, EnumHelper.DisplayList<Yintai.Hangzhou.Model.Enums.UserLevel>())
            @Html.ValidationMessageFor(model => model.UserLevel)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Gender)
    </div>
    <div class="editor-field">
        @Html.DropDownListFor(model => model.Gender, EnumHelper.DisplayList<Yintai.Hangzhou.Model.Enums.GenderType>())
        @Html.ValidationMessageFor(model => model.Gender)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Logo)
        @Html.HiddenFor(model => model.Logo)
    </div>
    <div class="editor-field">
        @if (!string.IsNullOrEmpty(Model.Logo))
        {
            <table>
                <tr>
                    <td>

                        <img width="100" src="@String.Concat(Model.Logo, "_100x100.jpg")" alt="100X100" />
                    </td>
                    <td>
                        <label>替换为 =&gt;</label></td>
                    <td>
                        <input type="file" name="Logo1" />
                    </td>
                </tr>

            </table>
        }
        else
        {
            <input type="file" id="files" name="Logo1" />
        }
    </div>

    <p>
        <input type="submit" value="保存" class="btn btn-primary" />
        @Html.ActionLink2("返回列表", "List", null, new { @class = "btn" })
    </p>
}

@section HeaderScripts
{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

}