@{
    ViewBag.Title = "用户管理";
}

<div class="span3">
    <h2>创建用户</h2>
    <p>创建用户.</p>
    <p>@Html.ActionLink2("创建","Create",null,new {@class = "btn"})</p>
</div>
<div class="span3">
    <h2>用户信息维护</h2>
    <p>维护用户信息.</p>
    <p><span>@Html.ActionLink2("维护","List",null,new {@class = "btn"})</span>
    </p>
</div>
<div class="span3">
    <h2>用户积分查询</h2>
    <p>查询用户积分</p>
    <p>@Html.ActionLink2("进入","List","Point",null,new {@class = "btn"})</p>
</div>
<div class="span3">
    <h2>用户评论维护</h2>
    <p>维护用户评论信息。 </p>
    <p>@Html.ActionLink2("进入","List","Comment",null,new {@class = "btn"})</p>
</div>
<div class="span3">
    <h2>用户银泰卡查询</h2>
    <p>查询绑定银泰卡信息。 </p>
    <p>@Html.ActionLink2("进入","Card",null,new {@class = "btn"})</p>
</div>
<div class="span3">
    <h2>用户反馈维护</h2>
    <p>维护用户反馈信息。 </p>
    <p>@Html.ActionLink2("进入","List","Feedback",null,new {@class = "btn"})</p>
</div>

