@model Yintai.Hangzhou.Cms.WebSiteCoreV1.Models.CustomerCollectionViewModel
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var url = String.IsNullOrWhiteSpace(Model.UL) ? String.Format("{0}/{1}", ViewContext.RouteData.Values["controller"].ToString().ToLower(), "list") : Model.UL.ToLower();

}

<h2>List</h2>

<p>
    @Html.ActionLink2("Create New", "Create")
</p>
<div>
    <form action="/@url">
        <label for="mobile">手机号</label>
        <input name="mobile" type="text" />
        <label for="nickname">昵称</label>
        <input name="nickname" type="text" />
        <input type="submit" value="查询" />
    </form>
</div>

<table>
    <tr>
        <th>图片</th>
        <th>操作</th>
        <th>Id
        </th>
        <th>Name
        </th>
        <th>Password
        </th>
        <th>Nickname
        </th>
        <th>LastLoginDate
        </th>
        <th>Mobile
        </th>
        <th>EMail
        </th>
        <th>UserLevel
        </th>
        <th>Store_Id
        </th>
        <th>Region_Id
        </th>
        <th>Logo
        </th>
        <th>Description
        </th>
        <th>Gender
        </th>
        <th>ILikeCount
        </th>
        <th>LikeMeCount
        </th>
        <th>FavorCount
        </th>
        <th>CouponCount
        </th>
        <th>PointCount
        </th>
        <th>ConsumptionCount
        </th>
        <th>ShareCount
        </th>
        <th>Status
        </th>
        <th>CreatedUser
        </th>
        <th>CreatedDate
        </th>
        <th>UpdatedDate
        </th>
        <th>UpdatedUser
        </th>

    </tr>

    @foreach (var item in Model.Customers)
    {
        <tr>
             <td>
                @if (!String.IsNullOrWhiteSpace(item.Logo))
                {
                    <div class="img-thumnail">
                    <img src="@String.Concat(item.Logo, "_50x50.jpg")" alt="50X50" />
                     </div>
                }


            </td>
            <td>
                @Html.ActionLink2("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink2("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink2("Delete", "Delete", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nickname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastLoginDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ILikeCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LikeMeCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FavorCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CouponCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsumptionCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShareCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedUser)
            </td>
           
        </tr>
    }

</table>
@Html.Partial("PagerPartialView", Model)

@section HeaderStyles
{
    <link href="@Url.Content("~/content/themes/webget/easyui/default/easyui.css")"  rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/themes/webget/easyui/icon.css")" rel="stylesheet" type="text/css" />
}

@section HeaderScripts
{
    <script src="@Url.Content("~/Scripts/widget/jquery.easyui.min.js")" type="text/javascript"></script>
}