@model Yintai.Hangzhou.Cms.WebSiteCoreV1.Models.TagViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>TagViewModel</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">SortOrder</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SortOrder)
    </div>

    <div class="display-label">Status</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">CreatedDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedDate)
    </div>

    <div class="display-label">UpdatedDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdatedDate)
    </div>

    <div class="display-label">UpdatedUser</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdatedUser)
    </div>

    <div class="display-label">CreatedUser</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedUser)
    </div>
</fieldset>
<p>
    @Html.ActionLink2("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink2("Back to List", "Index")
</p>
