@model Yintai.Hangzhou.Cms.WebSiteCoreV1.Models.TagViewModel

@{
    ViewBag.Title = "Details";
   }

<h2>@ViewBag.Title</h2>
@section PageBread
{
    <ul class="breadcrumb">
        <li>@Html.ActionLink2("分类列表", "List")<span class="divider">/</span></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
}
<fieldset>

    <div class="display-label">@Html.LabelFor(m=>m.Name)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">@Html.LabelFor(m=>m.Description)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">@Html.LabelFor(m=>m.SortOrder)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SortOrder)
    </div>

    <div class="display-label">@Html.LabelFor(m=>m.Status)</div>
    <div class="display-field">
       @Html.Label("", ((Yintai.Hangzhou.Model.Enums.DataStatus)Model.Status).ToFriendlyString())
    </div>

    <div class="display-label">@Html.LabelFor(m=>m.CreatedDate)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedDate)
    </div>

    
</fieldset>
<p>
    @Html.ActionLink2("修改", "Edit", new { id = Model.Id }, new { @class="btn"}) 
   @Html.ActionLink2("返回", "List", null, new { @class="btn"}) 
</p>