@model IEnumerable<Yintai.Hangzhou.Cms.WebSiteCoreV1.Models.UserRoleViewModel>
@using Yintai.Hangzhou.Cms.WebSiteCoreV1.Util
@{
    ViewBag.Title = "用户授权";
}
@section PageBread
{
    <ul class="breadcrumb">
        <li>@Html.ActionLink2("权限管理", "Index", "Role")<span class="divider">/</span></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
}
@section PageJsSection {
    <script>
        $(function () {
            $("a[id^='delete']").click(function (event) {
                var self = $(this);
                var itemId = $(this).attr("data-rightId");
                $("#delete-dialog").dialog({
                    resizable:false,
                    height:140,
                    modal: true,
                    buttons: {
                        "删除": function () {
                            $(this).dialog("close");
                            $.ajax({
                                type: "POST",
                                url: "@(Url.Action("DeleteAuthorize"))",
                                data: {
                                    Id:itemId
                                },
                                success: function(){
                                    self.parents("tr:first").remove();
                                }

                            });
                        },
                        "取消": function () {
                            $(this).dialog("close");
                        }
                    }

                });
            });
        });
    </script>
}
<div class="hide" id="delete-dialog" title="删除授权">
    <p>您确认要删除该条授权吗？</p>
</div>
<div class="span12">
<legend>@ViewBag.Title</legend>
<p>
    @Html.ActionLink2("创建授权", "CreateAuthorize", null, new { @class="btn"})
</p>
<table class="table table-bordered table-condensed table-striped">
    <tr>
        <th>操作</th>
        <th>用户名
        </th>
        <th>用户昵称
        </th>
        <th>角色名</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
             <td>
                  @Html.ActionLink2("编辑", "EditAuthorize", new { id = item.User.Id }, new {@class="btn "}) 
                 <a href="#" data-rightId="@item.User.Id" class="btn btn-danger" id="delete@(item.User.Id)">删除</a>
            </td>
            <td>
                @Html.DisplayFor(model => item.User.Name)
            </td>
                        <td>
                @Html.DisplayFor(model => item.User.Nickname)
            </td>
            <td>
                <ul>
                    @foreach (var role in item.Roles)
                    { 
                        <li>@role.Name</li>
                    }
                </ul>
            </td>
             
        </tr>
    }

</table>
</div>
