@model Yintai.Hangzhou.Cms.WebSiteCoreV1.Models.RoleViewModel
@section PageJsSection {
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="span12">
        <legend>创建角色</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Val)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Val)
            @Html.ValidationMessageFor(model => model.Val)
        </div>

        <p>
            <input type="submit" value="创建" />
        </p>
    </div>
}

<div class="span12 form-action">
    <button class="btn btn-success">保存</button>
    @Html.ActionLink2("返回", "List", null, new { @class = "btn btn-primary" })
</div>

