@model IEnumerable<Yintai.Hangzhou.Data.Models.AdminAccessRightEntity>
@using Yintai.Hangzhou.Cms.WebSiteV1.Util
@{
    ViewBag.Title = "权限管理";
}
@section PageBread
{
    <ul class="breadcrumb">
        <li>@Html.ActionLink2("权限管理", "Index", "Role")<span class="divider">/</span></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
}
@section PageJsSection {
    <script>
        $(function () {
            $("a[id^='delete']").click(function (event) {
                event.preventDefault();
                var self = $(this);
                var itemId = $(this).attr("data-rightId");
                $("#delete-dialog").dialog({
                    resizable:false,
                    height:140,
                    modal: true,
                    buttons: {
                        "删除": function () {
                            $(this).dialog("close");
                            $.ajax({
                                type: "POST",
                                url: "@(Url.Action("DeleteRight"))",
                                data: {
                                    Id:itemId
                                },
                                success: function(){
                                    self.parents("tr:first").remove();
                                }

                            });
                        },
                        "取消": function () {
                            $(this).dialog("close");
                        }
                    }

                });
            });
        });
    </script>
}
<div class="hide" id="delete-dialog" title="删除权限">
    <p>您确认要删除该条权限吗？</p>
</div>
<div class="span12">
<legend>@ViewBag.Title</legend>
<p>
    @Html.ActionLink2("导入权限", "ImportRight", null, new { @class="btn"})
</p>
<table class="table table-bordered table-condensed table-striped">
    <tr>
        <th>操作</th>
        <th>Id
        </th>
        <th>权限名
        </th>
        <th>权限大类</th>
        <th>权限小类</th>
        <th>权限描述</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
             <td>
                @Html.ActionLink2("编辑", "EditRight", new { id = item.Id }, new {@class="btn "}) 
                 <a href="#" data-rightId="@item.Id" class="btn btn-danger" id="delete@(item.Id)">删除</a>
            </td>
            <td>
                @Html.DisplayFor(model => item.Id)
            </td>
            <td>
                @Html.DisplayFor(model => item.Name)
            </td>
            <td>
                @Html.DisplayFor(model => item.ControllName)
            </td>
             <td>
                @Html.DisplayFor(model => item.ActionName)
            </td>
           <td>
                @Html.DisplayFor(model => item.Description)
            </td>
        </tr>
    }

</table>
</div>
