@using Yintai.Hangzhou.Model.Enums
@using Yintai.Hangzhou.WebSupport.Helper
@model Yintai.Hangzhou.Cms.WebSiteV1.Models.StorePromotionViewModel
@{
    ViewBag.Title = "创建兑换";
    
}
@section PageBread
{
    <ul class="breadcrumb">
        <li>@Html.ActionLink2("促销管理", "Index","Promotion")<span class="divider">/</span></li>
        <li>@Html.ActionLink2("兑换列表", "List")<span class="divider">/</span></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create"))
{
  @Html.EditorForModel()
   <div class="form-actions">
        <input type="submit" value="创建" class="btn btn-primary" />
        @Html.ActionLink2("返回列表", "List", null, new { @class = "btn" })
    </div>
}

