@using Yintai.Hangzhou.Model.Enums
@using Yintai.Hangzhou.WebSupport.Helper
@model Yintai.Hangzhou.Cms.WebSiteCoreV1.Models.ResourceViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>



@using (Html.BeginForm("Create", "Resource", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>ResourceViewModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.SourceId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SourceId)
            @Html.ValidationMessageFor(model => model.SourceId)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.SourceType)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.SourceType, Model == null ? SourceType.Default.ToSelectList() : ((SourceType)Model.SourceType).ToSelectList(), "請選擇")
            @Html.ValidationMessageFor(model => model.SourceType)
        </div>

        <div class="editor-label">
            上传
        </div>
        <div class="editor-field">

            <div>
                <input type="file" name="uploadify1" id="uploadify1" />
                @*                <p>
                    <a href="javascript:$('#uploadify1').uploadifyUpload()">上传</a>| 
                    <a href="javascript:$('#uploadify1').uploadifyClearQueue()">取消上传</a>
                </p>*@
            </div>

            <div>
                <input type="file" name="uploadify2" id="uploadify2" />
                @*                <p>
                    <a href="javascript:$('#uploadify2').uploadifyUpload()">上传</a>| 
                    <a href="javascript:$('#uploadify2').uploadifyClearQueue()">取消上传</a>
                </p>*@
            </div>


            <div>
                <input type="file" name="uploadify3" id="uploadify3" />
                @*                <p>
                    <a href="javascript:$('#uploadify3').uploadifyUpload()">上传</a>| 
                    <a href="javascript:$('#uploadify3').uploadifyClearQueue()">取消上传</a>
                </p>*@
            </div>
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section HeaderScripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/widget/swfobject.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/widget/jquery.uploadify.min.js")"></script>

    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
}

@section HeaderStyles
{
    <link href="@Url.Content("~/Content/uploadify/uploadify.css")" rel="stylesheet" type="text/css" />
}

@section FooterScripts
{
    <script type="text/javascript">

        //$(document).ready(init);

        @*        function init() {

            //upload
            //for (var i = 1; i < 4; i++) {
            $('#uploadify1').uploadify({
                'uploader': '@Url.Content("~/Content/uploadify/uploadify.swf")',
                'script': '@String.Format("{0}/{1}", @ViewContext.RouteData.Values["controller"], ViewContext.RouteData.Values["action"]) ',
                'cancelImg': '@Url.Content("~/Content/uploadify/uploadify-cancel.png")',
                'folder': 'UploadFile',
                'queueID': 'fileQueue',
                'auto': false,
                'multi': true,
                'fileExt': '*.jpeg;*.jpg;*.png;*.mp3;*.m4a'
            });
            //}
        }*@

    </script>
}
