@model Yintai.Hangzhou.Cms.WebSiteV1.Models.SpecialTopicViewModel
@{
    ViewBag.Title = "专题详情";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <div class="display-label">专题编码</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id)
    </div>

    <div class="display-label">专题名</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">描述</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>


    <div class="display-label">状态</div>
    <div class="display-field">
        @Html.Label("", ((Yintai.Hangzhou.Model.Enums.DataStatus)Model.Status).ToFriendlyString())
    </div>

    <div class="display-label">创建用户</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedUser)
    </div>

    <div class="display-label">创建时间</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedDate)
    </div>

    <div class="display-label">更新时间</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdatedDate)
    </div>

    <div class="display-label">更新用户</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdatedUser)
    </div>
        <div class="display-label">@Html.LabelFor(model=>model.Type)</div>
    <div class="display-field">
       @Html.Label("", ((Yintai.Hangzhou.Model.Enums.SpecialTopicType)Model.Type).ToFriendlyString())
    </div>
            <div class="display-label">@Html.LabelFor(model=>model.TargetValue)</div>
    <div class="display-field">
      @Html.DisplayFor(model=>model.TargetValue)
    </div>
    <div class="display-label">图片</div>
    <div class="display-field">
        @if (this.Model.Resources != null && Model.Resources.Count > 0)
        {
            var re = Model.Resources[0];
            if (re.Type == (int)Yintai.Architecture.Common.Models.ResourceType.Image)
            {
                        
            <img width="120" src="@String.Concat(re.Domain, re.Name, "_630x0.jpg")" alt="630x0" />
            }

        }
    </div>
    <div>
    </div>
</fieldset>
<p>
    @Html.ActionLink2("编辑", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink2("返回列表", "List", null, new { @class = "btn" })
</p>
