@using Yintai.Hangzhou.Model.Enums

@model Yintai.Hangzhou.Cms.WebSiteCoreV1.Models.SpecialTopicCollectionViewModel
@{
    ViewBag.Title = "专题列表";
    SpecialTopicListSearchOption search = ViewBag.SearchOptions;
    HtmlHelper<SpecialTopicListSearchOption> searchModelHelper = Html.HtmlHelperFor<SpecialTopicListSearchOption>();
}
@section PageBread
{
    <ul class="breadcrumb">
        <li>@Html.ActionLink2("专题管理", "Index")<span class="divider">/</span></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
}

@section PageJsSection {
    <script>
        $(function () {
            $("a[id^='delete']").click(function (event) {
                event.preventDefault();
                var self = $(this);
                var itemId = $(this).attr("data-rightId");
                $("#delete-dialog").dialog({
                    resizable:false,
                    height:140,
                    modal: true,
                    buttons: {
                        "删除": function () {
                            $(this).dialog("close");
                            $.ajax({
                                type: "POST",
                                url: "@(Url.Action("Delete"))",
                                data: {
                                    id:itemId
                                },
                                success: function (data) {
                                    if (data["Success"] == true) {
                                        self.parents("tr:first").remove();
                                    }
                                    else {
                                        alert('删除失败！');
                                    }
                                },
                                error: function (data, textStatus, jqXHR) {
                                    alert('删除失败！');
                                }

                            });
                        },
                        "取消": function () {
                            $(this).dialog("close");
                        }
                    }

                });
            });
        });
    </script>
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("List", null, FormMethod.Get, new { @class="form-horizontal searchForm-border"}))
{
        @Html.ValidationSummary(true)
    <div class="row">
        <div class="span4">
            <div class="control-group">
                <label class="control-label" for="Name">专题代码</label>
                <div class="controls">
                    @searchModelHelper.EditorFor(m=>m.PId)
                </div>
            </div>
                        <div class="control-group">
                <label class="control-label" for="Name">专题名</label>
                <div class="controls">
                    @searchModelHelper.EditorFor(m=>m.Name)
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">
                <button type="submit" class="btn">查询</button>
                    </div>
            </div>
        </div>
         <div class="span4">
            <div class="control-group">
                <label class="control-label" for="Name">状态</label>
                <div class="controls">
                    @searchModelHelper.DropDownListFor(m=>m.Status,EnumHelper.DisplayList<DataStatus>())                  
                </div>
            </div>
            
        </div>
</div>
}
<table>
    <tr>
        <th>图片</th>
        <th>操作</th>
        <th>专题编码
        </th>
        <th>专题名
        </th>
        <th>专题描述
        </th>
        <th>状态
        </th>
        <th>创建用户Id
        </th>
        <th>创建日期
        </th>
        <th>更新用户Id
        </th>
        <th>更新日期
        </th>

    </tr>

    @foreach (var item in Model.SpecialTopics)
    {
        <tr>
            <td>
                @if (item.Resources != null && item.Resources.Count > 0)
                {
                    foreach (var re in item.Resources)
                    {
                        if (re.Type == (int)Yintai.Architecture.Common.Models.ResourceType.Image)
                        {

                        <a href="@Url.Action("Details", "Resource", new { id = re.Id })">
                        <img width="60" src="@String.Concat(re.Domain, re.Name, "_630x0.jpg")" alt="630x0" />
                  </a>
                        }
                    }
                }
            </td>
            <td>
                 <div class="btn-group">
                <button class="btn btn-small">操作</button>
                    <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink2("编辑", "Edit", new { id = item.Id })</li>
                        <li>@Html.ActionLink2("详情", "Details", new { id = item.Id }) </li>
                        <li><a  href="@string.Format("{0}?search.topic={1}",Url.Action("List","Product"),item.Name)">查看商品</a></li>
                        <li><a href="#" data-rightId="@item.Id" class="btn btn-danger" id="delete@(item.Id)">删除</a></li>
                        
                    </ul>
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.Label("", ((DataStatus)item.Status).ToFriendlyString())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
                        <td>
                @Html.DisplayFor(modelItem => item.UpdatedUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>

          
        </tr>
    }

</table>

@Html.Partial("PagerPartialView", Model)
<div class="hide" id="delete-dialog" title="删除专题">
    <p>您确认要删除该条专题吗？</p>
</div>